{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>&lt;diapo&gt;</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<!-- Reveal -->
		<link rel="stylesheet" type="text/css" href="{% static 'reveal/dist/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'reveal/dist/reveal.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'reveal/dist/theme/diapo.css' %}" id="theme">
		<link rel="stylesheet" href="{% static 'reveal/plugin/highlight/monokai.css' %}" id="highlight-theme">
		<script src="https://tikzjax.com/v1/tikzjax.js"></script>
		<!-- PyScript -->
		<link rel="stylesheet" href="https://pyscript.net/releases/2024.1.3/core.css">
		<script type="module" src="https://pyscript.net/releases/2024.1.3/core.js"></script>
		<!--Ace.js-->
		<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.6/ace.js" integrity="sha512-gqjFRgajJiZM9GmvHEE7vpzPSL/moP+zxpl4F6lRNJDOI3pb2Tvu8k5vUjAzJKsl0ragzWL0/WasKhR430PkCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- Bokeh -->
		<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.2.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.2.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.2.2.min.js"></script>
		<script type="text/javascript">
			Bokeh.set_log_level("info");
		</script>
		<!-- TikZJax -->
		<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
		<!-- Otras configuraciones del <head> propios de cada presentación -->
		{% block head %}{% endblock %}
	</head>
	<body>
        
        <div class="reveal">
			<div class="slides">
				{% block content %}
                    <!-- Aquí el contenido de cada presentación -->
                {% endblock %}
			</div>
		</div>

		<script src="{% static 'reveal/dist/reveal.js' %}"></script>
		<script src="{% static 'reveal/plugin/notes/notes.js' %}"></script>
		<script src="{% static 'reveal/plugin/markdown/markdown.js' %}"></script>
        <script src="{% static 'reveal/plugin/highlight/highlight.js' %}"></script>
        <script src="{% static 'reveal/plugin/math/math.js' %}"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
                math: {
                    mathjax: 'https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js',
                    config: 'TeX-AMS_HTML-full',
                },
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ],
				dependencies: [ { src: "{% static 'reveal.js-ace/ace.js' %}" } ]
			});
		</script>
		<!-- WebSocket: DeckSlider (control de diapositivas) -->
		{% block websocket %}{% endblock %}
	</body>
</html>
