{% extends 'decks.html' %}

{% load static %}

<!-- Título -->
{% block title %}14-ergodicidad-funciones-correlacion{% endblock %}

<!-- Referencia: https://www.overleaf.com/project/5c376bb23d7cdc5c9060a293  -->

<!-- Configuraciones específicas del <head> -->
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Agregar KaTex de reveal Revealjs -->
<script src="plugin/math/math.js"></script>
<script>
  Reveal.initialize({ plugins: [ RevealMath.KaTeX ] });
</script>
{% endblock %}
{% block content %}

<!-- SECCIÓN 0 -->
<section>
    <h1 class="display-1">
        Ergodicidad y funciones de correlación
    </h1>
</section>


<!-- Portada y descripción -->
<section>
    <p>
        La ergodicidad establece la igualdad entre el promedio
        estadístico y el promedio temporal de un proceso
        aleatorio.
    </p>

    <p>
        Es una nueva forma de estacionaridad que simplifica el
        análisis del proceso aleatorio.
    </p>
</section>


<!-- Promedios en el tiempo y ergodicidad -->
<section>
    <section>
        <h2>Promedios en el tiempo y ergodicidad</h2>
    </section>

    <!-- Diapositiva 1 -->
    <section>
        <h3>Promedios en el tiempo</h3>
    
        <p>
        El promedio temporal de una función está definido con el nuevo operador:
        </p>
    
        <p>
        \[
        A\left[~ \text{\decosix} ~\right] = \lim_{T \rightarrow \infty} \frac{1}{2T} \int_{-T}^{T} \text{\decosix} \, \mathsf{d}t
        \]
        </p>
    
        <p>
        donde \( A \) se utiliza para denotar <strong>promedio temporal</strong> de una manera análoga al operador \( E \) para el <strong>promedio estadístico</strong>. \( \text{\decosix} \) es una función del tiempo cualquiera.
        </p>
    
        <p>Figura (Falta)</p>
    </section>
    
    <!-- Diapositiva 2 -->
    <section>
        <h3>Promedios en el tiempo de funciones muestra I</h3>
    
        <p>
        El valor \( \overline{x} = A[x(t)] \) representa el promedio temporal de una función muestra. La función de autocorrelación temporal es denotada por \( \mathcal{R}_{XX}(\tau) = A[x(t)x(t+\tau)] \). Estas funciones están definidas por:
        </p>
    
        <p>
        \[
        \begin{aligned}
            \overline{x} & = A[x(t)] \\
                & = \lim_{T \rightarrow \infty} \frac{1}{2T}\int_{-T}^{T}x(t) \, \mathsf{d}t
        \end{aligned}
        \]
        </p>
    
        <p>
        \[
        \begin{aligned}
            \mathcal{R}_{XX}(\tau) & = A[x(t)x(t+\tau)] \\
                & = \lim_{T \rightarrow \infty} \frac{1}{2T} \int_{-T}^{T}x(t)x(t+\tau) \, \mathsf{d}t 
        \end{aligned}
        \]
        </p>
    
        <p>
        Para cualquier función muestra \( x(t) \) del proceso \( X(t) \), estas dos últimas integrales simplemente producen dos números (para un valor fijo de \( \tau \)).
        </p>
    
    </section>
    
    <!-- Diapositiva 3 -->
    <section>
        <p>Figura (Falta)</p>
    </section>
    
    <!-- Diapositiva 4 -->
    <section>
        <h3>Promedios en el tiempo de funciones muestra III</h3>
    
        <p>
        Cuando se consideran todas las funciones muestra, \( \overline{x} \) y \( \mathcal{R}_{XX}(\tau) \) son realmente variables aleatorias. Tomando el valor esperado a ambos lados de las definiciones, suponiendo que la operación matemática de la esperanza puede llevarse al interior de la integral y suponiendo que \( X(t) \) es un <strong>proceso estacionario</strong>, se tiene:
        </p>
    
        <p>
        \[
        E[\overline{x}] = \overline{X} \qquad\qquad\qquad E[\mathcal{R}_{XX}(\tau)] = R_{XX}(\tau)
        \]
        </p>
    </section>
    
    <!-- Diapositiva 5 -->
    <section>
        <h3>Procesos ergódicos I</h3>
    
        <blockquote>
        <strong>Procesos ergódicos</strong>
        <p>
            Si se supone que \( \overline{x} \) y \( \mathcal{R}_{XX}(\tau) \) tienen varianzas nulas, es decir, que son constantes, se escribe entonces:
        </p>
        <p>
            \[
            \begin{aligned}
            E[\overline{x}] & = \overline{x} = \overline{X} \\
            E[\mathcal{R}_{XX}(\tau)] & = \mathcal{R}_{XX}(\tau) = R_{XX}(\tau)
            \end{aligned}
            \]
        </p>
        <p>
            Los promedios temporales \( \overline{x} \) y \( \mathcal{R}_{XX}(\tau) \) igualan a los promedios estadísticos.
        </p>
        <p>
            <strong>Los procesos para los que los promedios temporales igualan a los estadísticos se denominan ergódicos.</strong>
        </p>
        </blockquote>
    </section>
    
    <!-- Diapositiva 6 -->
    <section>
        <P>Figura (Falta)</P>
    </section>
    
    <!-- Diapositiva 7 -->
    <section>
        <h3>Procesos ergódicos III</h3>
    
        <blockquote>
        <p>
            Ergodicidad es una forma muy restrictiva de estacionaridad y puede ser difícil probar que constituye una suposición razonable para cualquier situación física. Sin embargo, se asumirá que un proceso es ergódico a veces para <em>simplificar problemas</em>.
        </p>
        </blockquote>
        <blockquote>
        <strong>Ergodicidad conjunta</strong>
        <p>
            Dos procesos aleatorios son llamados conjuntamente ergódicos si son individualmente ergódicos y también tienen una función de correlación cruzada temporal que iguala la función de correlación cruzada estadística:
        </p>
        <p>
            \[
            \mathcal{R}_{XY}(\tau) = \lim_{T \rightarrow \infty}\frac{1}{2T}\int_{-T}^{T}x(t)y(t+\tau) \, \mathsf{d}t = R_{XY}(\tau)
            \]
        </p>
        </blockquote>
    </section>  
</section>


<!-- Funciones de correlación y covarianza -->
<section>
    <section>
        <h2>Funciones de correlación y covarianza</h2>
    </section>

    <!--Dipaositiva 1 -->
    <section>
        <p>
            Las funciones de correlación y covarianza cuantifican el grado de relación 
            lineal entre un mismo proceso aleatorio en distintos de tiempo (<strong>auto</strong>) 
            y entre dos procesos distintos (<strong>cruzada</strong>).

            Sus propiedades tienen interpretaciones importantes en el procesamiento de señales.
        </p>
    </section>

    <!-- Diapositiva 2 -->
    <section>
        <h3>Función de autocorrelación</h3>
    
        <blockquote>
        <strong>Autocorrelación</strong>
        <p>
            La autocorrelación de un proceso aleatorio \( X(t) \) es la correlación \( E[X_1 X_2] \) de dos variables aleatorias \( X_1 = X(t_1) \) y \( X_2 = X(t_2) \) definidas por el proceso en tiempos \( t_1 \) y \( t_2 \).
        </p>
        <p>
            \[
            R_{XX}(t_1, t_2) = E[X(t_1)X(t_2)]
            \]
        </p>
        <p>
            Con \( t_1 = t \) y \( t_2 = t_1 + \tau \):
        </p>
        <p>
            \[
            R_{XX}(t, t+\tau) = E[X(t)X(t+\tau)]
            \]
        </p>
        </blockquote>
    
        <p>
        Si \( X(t) \) es estacionario en sentido amplio, \( R_{XX}(t, t+\tau) \) es función únicamente de la diferencia \( \tau = t_2 - t_1 \):
        </p>
    
        <p>
        \[
        R_{XX}(\tau) = E[X(t)X(t+\tau)]
        \]
        </p>
    </section>
    
    <!-- Diapositiva 3 -->
    <section>
        <h3>Propiedades de la función de autocorrelación I</h3>
        
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <i class="bi bi-1-circle-fill"></i> 
                        El valor máximo de \( R_{XX}(\tau) \) está en \( \tau = 0 \), por tanto está acotado en el origen:
                        \[
                        \vert R_{XX}(\tau) \vert \leq R_{XX}(0)
                        \]
                    
                    <i class="bi bi-2-circle-fill"></i> 
                        La autocorrelación tiene simetría par:
                        \[
                        R_{XX}(-\tau) = R_{XX}(\tau)
                        \]
                    
                    <i class="bi bi-3-circle-fill"></i> 
                        El valor máximo es igual a la media del cuadrado (o \textit{valor cuadrático medio}), llamado también la <strong>potencia del proceso</strong>:
                        \[
                        R_{XX}(0) = E[X^{2}(t)]
                        \]
                    
                </ul>
            </div>
        </div>
    </section>

    <!-- Diapositiva 4 -->
    <section>
        <h3>Propiedades de la función de autocorrelación II</h3>
        
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <i class="bi bi-4-circle-fill"></i> 
                        Si \( X(t) \) es ergódico sin componentes periódicos, y además \( E[X(t)] = \overline{X} \neq 0 \):
                        \[
                        \lim_{\vert \tau \vert \rightarrow \infty} R_{XX}(\tau) = \overline{X}^2
                        \]
                        <ul>
                            <li>Si \( X(t) \) es ergódico sin componentes periódicos, con media cero:
                                \[
                                \lim_{\vert \tau \vert \rightarrow \infty}R_{XX}(\tau) = 0
                                \]
                            </li>
                        </ul>
                    
                    <i class="bi bi-5-circle-fill"></i> 
                        Si \( X(t) \) tiene un componente periódico, entonces \( R_{XX}(\tau) \) tendrá un componente periódico con el mismo periodo.
                </ul>
            </div>
        </div>
    </section>
    
    <!-- Diapositiva 5 -->
    <section>
        <h3>Ejemplo de las propiedades de autocorrelación I</h3>
    
        <blockquote>
        <p>
            Para un proceso estacionario <strong>WSS</strong> y ergódico <strong>ERG</strong>, sin componentes periódicos:
        </p>
        <p>
            \[
            R_{XX}(\tau) = 25 + \frac{4}{1 + 6\tau^2}
            \]
        </p>
        <p>
            Encontrar el valor medio y la varianza del proceso.
        </p>
        </blockquote>
    
        <p>Figura (Falta)</p>
    </section>
    
    <!-- Diapositiva 6 -->
    <section>
        <h3>Ejemplo de las propiedades de autocorrelación II</h3>
    
        <p>
        \[
        R_{XX}(\tau) = 25 + \frac{4}{1 + 6\tau^2}
        \]
        </p>
    
        <p>
        La propiedad 4 establece que \( \lim_{\vert \tau \vert \rightarrow \infty} R_{XX}(\tau) = \overline{X}^2 \), y entonces:
        </p>
    
        <p>
        \[
        E[X(t)] = \overline{X} = \sqrt{25} = \pm 5
        \]
        </p>
    
        <p>
        Nótese que tal propiedad solamente da la magnitud de \( \overline{X} \) y no su signo.
        </p>
    
        <p>
        Con la definición de varianza y la propiedad 3 dada por \( R_{XX}(0) = E[X^{2}(t)] \):
        </p>
    
        <p>
        \[
        \begin{aligned}
        \sigma_{X}^2 	& = E[X^2(t)] - (E[X(t)])^2 \\
                        & = R_{XX}(0) - \overline{X}^2 \\
                        & = 29 - 25 = 4
        \end{aligned}
        \]
        </p>
    </section>
    
    <!-- Diapositiva 7 -->
    <section>
        <h3>Función de correlación cruzada</h3>
    
        <blockquote>
        <strong>Correlación cruzada</strong>
        <p>
            La función de correlación cruzada está definida por:
        </p>
        <p>
            \[
            R_{XY}(t,t+\tau) = E\left[ X(t)Y(t+\tau) \right]
            \]
        </p>
        </blockquote>
    </section>
    
    <!-- Diapositiva 8 -->
    <section>
        <h3>Propiedades de la función de correlación cruzada I</h3>
        
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <i class="bi bi-1-circle-fill"></i> 
                        Si \( X(t) \) y \( Y(t) \) son conjuntamente estacionarios en sentido amplio, \( R_{XY}(t,t+\tau) \) será independiente del tiempo absoluto:
                        \[
                        R_{XY}(\tau) = E\left[ X(t)Y(t+\tau) \right]
                        \]
                    <i class="bi bi-2-circle-fill"></i> 
                        Si \( R_{XY}(t,t+\tau) = 0 \), entonces \( X(t) \) y \( Y(t) \) son procesos ortogonales.
                    <p>
                    <i class="bi bi-3-circle-fill"></i> 
                        Si los dos procesos son estadísticamente independientes, la función de correlación cruzada se convierte en:
                        \[
                        R_{XY}(t,t+\tau) = E[X(t)]E[Y(t+\tau)]
                        \]
                    </p>
                </ul>
        </div>
    </section>

    <!-- Diapositiva 9 -->
    <section>
        <h3>Propiedades adicionales de la función de correlación cruzada II</h3>
        
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <i class="bi bi-4-circle-fill"></i> 
                        Si además de ser independientes, \( X(t) \) y \( Y(t) \) son <strong>al menos</strong> estacionarios en sentido amplio:
                        \[
                        R_{XY}(\tau) = \overline{X} \cdot \overline{Y}
                        \]
                        <p>Esto implica que \( R_{XY}(\tau) \) es una constante.</p>
                    
                    <i class="bi bi-5-circle-fill"></i> 
                        Si los procesos son <strong>menos</strong> estacionarios en sentido amplio, entonces:
                        <ul>
                            <li>\( R_{XY}(-\tau) = R_{YX}(\tau) \)</li>
                            <li>\( \vert R_{XY}(\tau) \vert \leq \sqrt{R_{XX}(0)R_{YY}(0)} \) <span class="text-muted">(media geométrica)</span></li>
                            <li>\( \vert R_{XY}(\tau) \vert \leq \frac{1}{2}\left[ R_{XX}(0) + R_{YY}(0) \right] \) <span class="text-muted">(media aritmética)</span></li>
                        </ul>
                </ul>
            </div>
        </div>
    </section>
</section>


<!-- Funciones de covarianza -->
<section>
    <section>
        <h2>Funciones de covarianza</h2>
    </section>

    <!-- Diapositiva 1 -->
    <section>
        <h3>Funciones de covarianza I</h3>
        <blockquote>
            <strong>Autocovarianza</strong>
            <p>
                La función de <strong>autocovarianza</strong> (momento conjunto central de orden dos) de un proceso estocástico está definida por:
            </p>
            <p>
                \[
                \begin{aligned}
                    C_{XX}(t,t+\tau) & = E \left[ \left\{ X(t) - E[X(t)] \right\} \right. \\ 
                    & \quad \left. \left\{ X(t+\tau) - E[X(t+\tau)] \right\} \right]
                \end{aligned}
                \]
            </p>
            <p>
                equivalente a
            </p>
            <p>
                \[
                C_{XX}(t,t+\tau) = R_{XX}(t, t+\tau) - E[X(t)] E[X(t+\tau)]
                \]
            </p>
        </blockquote>
    </section>

    <!-- Diapositiva 2 -->
    <section>
        <h3>Funciones de covarianza II</h3>
        <blockquote>
            <strong>Covarianza cruzada</strong>
            <p>
                La función de <strong>covarianza cruzada</strong> para dos procesos \( X(t) \) y \( Y(t) \) está definida por:
            </p>
            <p>
                \[
                \begin{aligned}
                    C_{XY}(t,t+\tau) & = E\left[ \left\{ X(t) - E[X(t)] \right\} \right. \\ 
                    & \qquad \left. \left\{ Y(t+\tau) - E[Y(t+\tau)] \right\} \right]
                \end{aligned}
                \]
            </p>
            <p>
                o, alternativamente,
            </p>
            <p>
                \[
                C_{XY}(t,t+\tau) = R_{XY}(t,t+\tau) - E[X(t)] E[Y(t+\tau)]
                \]
            </p>
        </blockquote>
    </section>

    <!-- Diapositiva 3 -->
    <section>
        <h3>Funciones de covarianza III</h3>
            <p>
                Para procesos que son al menos conjuntamente estacionarios en sentido amplio (WSS), las covarianzas son:
            </p>
            <p>
                \[
                \begin{aligned}
                C_{XX}(\tau) & = R_{XX}(\tau) - \overline{X}^2 \\
                C_{XY}(\tau) & = R_{XY}(\tau) - \overline{X} \cdot \overline{Y}
                \end{aligned}
                \]
            </p>
            <ul>
                <li>
                    La <strong>varianza</strong> de un proceso aleatorio está dada por la autocovarianza con \( \tau = 0 \).
                </li>
                <li>
                    Para un proceso estacionario en sentido amplio, la varianza no depende del tiempo y está dada por:
                    \[
                    \sigma_{X}^2 = E[\{X(t) - E[X(t)]\}^2] = R_{XX}(0) - \overline{X}^2
                    \]
                </li>
            </ul>
    </section>

    <!-- Diapositiva 4 -->
    <section>
        <h3>Funciones de covarianza IV</h3>
        <blockquote>
            <ul>
                <li>
                    Para dos procesos aleatorios, si:
                    \[
                    C_{XY}(t,t+\tau) = 0
                    \]
                    entonces están no-correlacionados. Esto significa que:
                    \[
                    R_{XY}(t,t+\tau) = E[X(t)] \cdot E[Y(t + \tau)]
                    \]
                </li>
                <li>
                    Se concluye de la última igualdad que <strong>procesos independientes son no-correlacionados</strong>. <em>El recíproco no es cierto</em> (aunque sí lo es para procesos conjuntamente gaussianos).
                </li>
            </ul>
        </blockquote>
    </section>
</section>

<!-- Gráficos de Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
<script src="{% static 'js/p15.js' %}"></script>

{% endblock %}

{% block websocket %}
{% if role == "presenter" %}
<script>
    const wsRouteTx = 'wss://' + window.location.host + '/ws/deck/slider/p4/';
    const deckSocket = new WebSocket(wsRouteTx);

    // Registrar la conexión abierta
    deckSocket.onopen = function (event) {
        console.log('Conexión WebSocket abierta exitosamente como presentador en ' + wsRouteTx);
    };

    Reveal.on('slidechanged', event => {
        deckSocket.send(JSON.stringify({
            'indexh': event.indexh,
            'indexv': event.indexv
        }));
    });
</script>
{% else %}
<script>
    const wsRouteRx = 'wss://' + window.location.host + '/ws/deck/slider/p4/';
    const deckSocket = new WebSocket(wsRouteRx);

    // Registrar la conexión abierta
    deckSocket.onopen = function (event) {
        console.log('Conexión WebSocket abierta exitosamente como cliente en ' + wsRouteRx);
    };

    deckSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        Reveal.slide(data.message.indexh, data.message.indexv);
    };
</script>
{% endif %}
{% endblock %}