{% extends 'decks.html' %}

{% load static %}

<!-- Título -->
{% block title %}Probabilidad condicional y conjunta y teorema de Bayes{% endblock %}

<!-- Referencia: https://www.overleaf.com/read/mpzrvppyvszr#9c9c90 -->

<!-- Configuraciones específicas del <head> -->
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

<!-- SECCIÓN 0 -->
<section>
    <h1 class="display-1">
        Probabilidad condicional y conjunta y teorema de Bayes
    </h1>
</section>

<!-- Portada y descripción -->
<section>
</h2>
    Una gran cantidad de "experimentos" y cálculos de probabilidad cotidianos pueden ser descritos por medio de las herramientas de la probabilidad condicional y conjunta, el teorema de Bayes y los eventos independientes, que representan un conocimiento básico y muy útil de la probabilidad.
</h2>
</section>

<!-- Sección introducción -->
<section>
    <section>
    <h2 class="display-1">
        Introducción
    </h2>
    </section>

<!-- Antecedente de la probabilidad  conjunta y condicional -->
    <section>
        <h2>Antecedente de la probabilidad  conjunta y condicional</h2>
        <p>
            Algunos eventos no son mutuamente excluyentes debido a elementos comunes en el espacio de probabilidad. Estos elementos corresponden a la ocurrencia <strong>simultánea</strong> (o <strong>conjunta</strong> o <strong>coincidente</strong>) de los eventos no excluyentes. Para dos eventos $A$ y $B$, los elementos comunes forman el evento $A \cap B$.
        </p>
        </section>

    <!-- Diapositiva 5 -->
    <section>
        <h3>Antecedente de la probabilidad  conjunta y condicional</h3>
        <blockquote>
        <ul>
            <li> La probabilidad <strong>conjunta</strong> describe la probabilidad $P(A \cup B)$ de que ocurra $A$ <strong>o</strong> de que ocurra $B$ o ambas.</li>
            <li> La probabilidad <strong>condicional</strong> describe la probabilidad $P(A \cap B)$ de que ocurra $A$ <strong>y</strong> $B$, y describe cómo cambia la probabilidad de un evento particular dada la ocurrencia de otro.</li>
        </ul>
        </blockquote>
            Cuando los eventos sí son mutuamente excluyentes (ME), estos resultados son, necesariamente:

<ul>
                <li>$P(A \cup B) = P(A) + P(B)$</li>
                <li>$P(A \cap B) = P(\emptyset) = 0$ </li>
</ul>
    </section>
</section>


<!-- Sección probabilidad conjunta -->
<section>
    <section>
    <h2 class="display-1">
        Probabilidad conjunta
    </h2>
    </section>

<!-- Probabilidad conjunta: dos conjuntos -->
    <section>
        <h3>Probabilidad conjunta</h3>
        <h4>Dos conjuntos</h4>
        <p>
            La probabilidad  $P(A \cup B)$ se llama la <strong>probabilidad conjunta para dos eventos</strong> $A$ y $B$ que se intersecan en el espacio de muestras, y es equivalente a

        \begin{equation}
        \boxed{P(A \cup B) = P(A)  +  P(B) - P(A  \cap  B)}
        \end{equation}
        </p>
        </section>

    <!-- Probabilidad conjunta: tres conjuntos -->
    <section>
        <h3>Probabilidad conjunta</h3>
        <h4>Tres conjuntos</h4>
        <p>
            \begin{equation}
            \boxed{P(A \cup B \cup C) = P(A) + P(B) + P(C) - P(A \cap B) - P(A \cap C) - P(B \cap C) + P(A \cap B \cap C)}
            \end{equation}
        </p>
        </section>
        </section>

<!-- Sección probabilidad condicional -->
<section>
    <section>
    <h2 class="display-1">
        Probabilidad condicional
    </h2>
    </section>

<!-- Probabilidad condicional I -->
    <section>
        <h3>Probabilidad condicional</h3>
        <p>
            Dado algún evento $A$ con una probabilidad $0 < P(A) \leq 1$, se define la probabilidad condicional de un evento $B$, dado $A$, por

        \begin{equation}
        \boxed{P(B \mid A) = \frac{P(A \cap B)}{P(A)}}
        \label{E:condicional}
        \end{equation}

Esto implica que la probabilidad de un evento $B$ se redefine con la previa ocurrencia de $A$.
        </p>
        </section>

    <!-- Probabilidad condicional II-->
    <section>
        <h3>Probabilidad condicional</h3>
        <p>
            La expresión \eqref{E:condicional} se puede reescribir como $P(A \cap B) = P(A) P(B \mid A)$ y puede leerse intuitivamente como "la probabilidad de que sucedan $A$ <strong>y</strong> $B$ es igual a la probabilidad de que suceda $A$ por la probabilidad de que suceda $B$ dado que sucedió $A$". 
        </p>
        </section>
        </section>


    <!-- Sección La probabilidad total -->
<section>
    <section>
    <h2 class="display-1">
        La probabilidad total
    </h2>
    </section>

<!-- Particion del conjunto universal-->
<section>
    <h3>Partición del conjunto universal</h3>
    <h4>Recordatorio de la definición</h4>
    <p>
        El conjunto de $N$ eventos $\lbrace A_n \rbrace$, $n = 1, 2, \ldots, N$, se llama una <strong>partición</strong> si cumple que
        </p>
    <p>   
    <strong>Son exhaustivos</strong> $\displaystyle \bigcup_{n = 1}^{N} A_{n} = S$, "la unión de los $N$ eventos incluye a <strong>todos</strong> los elementos".
</p> 
<p>
    <strong>Son mutuamente excluyentes</strong> $A_m \cap A_n = \emptyset$ para todo $m \neq n$.
    </p>
    </section>

<!-- Definicion de la probabilidad total I-->
    <section>
        <h3>Definición de la probabilidad total</h3>
        <blockquote>
            La probabilidad $P(B)$ de cualquier evento $B$ definido sobre un espacio $S$ puede expresarse en términos de probabilidades condicionales.
        </blockquote>
    <p>
        Si $\lbrace A_n \rbrace$ es una partición, y además

\begin{equation}
\begin{aligned}
B &= B \cap S & & \text{(identidad de conjuntos)} \\
  &= B \cap \left( \bigcup_{n=1}^{N} A_n \right) & & \text{(definición de partición)} \\
  &= \bigcup_{n=1}^{N} \left( B \cap A_n \right) & & \text{(ley de distributividad)} \\
\end{aligned}
\label{E:particion}
\end{equation}
</p>
        </section>

<!-- Definicion de la probabilidad total II-->
<section>
    <h3>Definición de la probabilidad total</h3>
<p>
    Como los eventos $\{ B \cap A_n \}$ son mutuamente excluyentes, aplica el tercer axioma de la probabilidad, entonces utilizando \eqref{E:particion} y la definición de probabilidad condicional:
    </p>
    <p>

        \begin{equation}
        \begin{aligned}
        P(B) & = P(B \cap S) \\
            & = P\left[ \bigcup_{n=1}^{N}(B \cap A_n)\right] \\
            & = \sum_{n = 1}^{N} P(B \cap A_n) \\
            \end{aligned}
            \end{equation}
         </p>
         <p>
        \begin{equation*}
            \boxed{P(B) = \sum_{n = 1}^{N} P(B \mid A_n)P(A_n)}
        \end{equation*}
    </p>
        <p>

    que se conoce como la <strong>probabilidad total del evento $B$</strong>.
</p>
    </section>

<!-- Definicion de la probabilidad total III-->
<section>
    <h3>Definición de la probabilidad total</h3>
            
        <p>
            \begin{equation*}
            \boxed{P(B) = \sum_{n = 1}^{5} P(B \cap A_n) = \sum_{n = 1}^{5} P(B \mid A_n)P(A_n)}
            \end{equation*}
        </p>
    </section>

<!-- Ejemplo de las bolinchas I-->
<section>
    <h3>Ejemplo de las bolinchas</h3>
    <h4>Probabilidad total</h4>
    <blockquote>
        ¿Cuál es la probabilidad de sacar una bolincha (canica) roja de una bolsa, si hay tres bolsas con la siguiente distribución?
        <ul>
<li>Bolsa 1: 20 rojas, 20 azules, 10 blancas</li>
<li>Bolsa 2: 10 rojas, 25 azules, 15 blancas</li>
<li>Bolsa 3: 30 rojas, 15 azules, 5 blancas</li>
        </ul>
    </blockquote>
    <p>
        Si $R = \{\text{sacar una bolincha roja}\}$ y $B_i = \{\text{escoger la $i$-ésima bolsa}\}$, por la probabilidad total se tiene que

\begin{equation*}
\begin{aligned}
P(R) 	&= \sum_{i = 1}^{3} P(R \mid B_i)P(B_i) \\
		&= \frac{1}{3}(0.40) + \frac{1}{3}(0.20) + \frac{1}{3}(0.60) = 0.40
\end{aligned}
\end{equation*}
    </p>
    </section>
</section>

<!-- Sección Teorema de Bayes -->
<section>
    <section>
    <h2 class="display-1">
        Teorema de Bayes
    </h2>
    </section>

<!-- Intro -->
    <section>
        <p>
            Como uno de los resultados más útiles de la teoría de probabilidad, el teorema de Bayes permite <strong>actualizar</strong> el conocimiento o <strong> recalcular</strong> la probabilidad de un evento de interés cuando encontramos nueva evidencia de su ocurrencia.
        </p>

        <p>
        <i class="heartbeat"></i> La prueba médica (la evidencia) resultó negativa, ¿cuál es la probabilidad de que realmente no tenga la enfermedad?

        </p>
        </section>


    <!-- Teorema de Bayes-->
    <section>
        <h3>Teorema de Bayes</h3>
        <p>
    Sean $A$ y $B$ eventos en los que se asume inicialmente una dependencia de $B$ a la ocurrencia de $A$ tal que, si $P(A) \neq 0$,

\begin{equation}
P(B \mid A) = \frac{P(B \cap A)}{P(A)}
\label{E:cond_dir}
\end{equation}

También existe una relación inversa en que, si $P(B) \neq 0$, se cumple que

\begin{equation}
P(A \mid B) = \frac{P(A \cap B)}{P(B)}
\label{E:cond_inv}
\end{equation}

Del álegebra de conjuntos se sabe que $P(B \cap A) = P(A \cap B)$, y es posible igualar \eqref{E:cond_dir} y \eqref{E:cond_inv}, resultando:



    <blockquote>
    <strong> Regla de la probabilidad condicional inversa</strong>
    \begin{equation}
    P(A \mid B) = \frac{P(B \mid A)P(A)}{P(B)}
    \label{E:bayes}
    \end{equation}
    </blockquote>
        </section>


        
    <!-- Teorema de Bayes con probabilidad total I-->
    <section>
        <h3>Teorema de Bayes con probabilidad total</h3>
        <p>
            Una ecuación equivalente se obtiene de una sustitución de $P(B)$ en términos de una <strong> probabilidad total</strong>:

            \begin{equation}
            \boxed{P(A_n \mid B) = \frac{P(B\mid A_n)P(A_n)}{P(B \mid A_1)P(A_1) + \cdots + P(B \mid A_N)P(A_N)}}
            \label{E:bayes_total}
            \end{equation}
            
            donde $\{ A_n \}$ es una partición universal para $n = 1, 2, \ldots, N$.
        </p>
        <blockquote> 
            Una intuición importante de esta ecuación es que la ocurrencia de $B$ puede deberse a múltiples factores (en este caso, cualquiera entre $A_1,\ldots,A_N$), pero estamos interesados en la <em>relación</em> con <strong>uno</strong> de ellos en particular, $A_n$.
        </blockquote> 
            
        <strong>Nota</strong>: esta <em>relación</em> puede, o no, ser de <strong>causalidad</strong>.
        </section>

    <!-- Teorema de Bayes con probabilidad total II-->
    <section>
        <h3>Teorema de Bayes con probabilidad total</h3>
        \begin{equation*}
        \boxed{
        P(A_n \mid B) = \frac{P(B\mid A_n)P(A_n)}{P(B \mid A_1)P(A_1) + \cdots + P(B \mid A_N)P(A_N)}
        }
        \end{equation*}
    
    <ul>
        <li><strong>$P(A_n)$</strong> son <em>probabilidades a priori</em>, dado que se conocen para cada evento $A_n$ antes de la ejecución del experimento.</li>
        <li><strong>$P(B \mid A_n)$</strong> son <em>probabilidades condicionales directas</em> o <em>probabilidades de transición</em> en teoría de telecomunicaciones. Típicamente son conocidas antes de ejecutar el experimento.</li>
        <li><strong>$P(A_n \mid B)$</strong> son <em>probabilidades a posteriori</em> o <em>probabilidades condicionales inversas</em>, dado que se investigan después de la ejecución del experimento, cuando se obtiene un evento $B$.</li>
            </li>
    </ul>
    </section>



    <!-- Ejemplo de incidencia de una enfermedad poco común I-->
    <section>
        <h3>Ejemplo de incidencia de una enfermedad poco común</h3>
        <p>
        Se ha desarrollado un examen de diagnóstico para una enfermedad extraña que afecta solo a 1 de cada 1000 adultos. En análisis estadísticos médicos de clasificación binaria (\textit{sí} o \textit{no}) se define:

        <ul>
        <li><strong>Sensitividad</strong> Un resultado positivo implica que el individuo efectivamente tiene la enfermedad en el 99 \% de los casos (también llamada <em>probabilidad de detección</em>). Un resultado contrario es un <strong>falso negativo</strong>.</li>
        <li><strong>Especificidad</strong> Un individuo sin la enfermedad dará resultado negativo 98 \% de las veces (también llamada <em>tasa negativa verdadera</em>). Un resultado contrario es un <strong>falso positivo</strong>.</li>
        </ul>
        </p>
        
        <blockquote>
        ¿Cuál es la probabilidad de que el paciente sí tenga la enfermedad si el diagnóstico es positivo?
        </blockquote>
    </section>

    <!-- Ejemplo de incidencia de una enfermedad poco común II-->
    <section>
        <h3>Ejemplo de incidencia de una enfermedad poco común</h3>
        <p>
            \begin{equation*}
            \boxed{
                P(B \mid A) = \frac{P(A\mid B)P(B)}{P(A \mid B)P(B) + P(A \mid \comp{B})P(\comp{B})}}
            
            \end{equation*}        
        </p>
    </section>

    
    <!-- Ejemplo de incidencia de una enfermedad poco común III-->
    <section>
        <h3>Ejemplo de incidencia de una enfermedad poco común</h3>
        <p>
            \begin{equation*}
            \begin{aligned}
            P(B \mid A) & = \frac{P(A\mid B)P(B)}{P(A \mid B)P(B) + P(A \mid \comp{B})P(\comp{B})} \\
            & = \frac{(0.99) (0.001)}{(0.99) (0.001) + (0.02) (0.999)} \\
            & = 0.0472 \approx 5 \text{\%}
            \end{aligned}
            \end{equation*}
            
            La probabilidad de que el paciente sí tenga la enfermedad es del 5%... a pesar de que el resultado del examen fue positivo.
            
        </p>
        <blockquote>
            ¿Por qué es tan baja esta probabilidad, con una <em>sensitividad</em> de la prueba del 99%?
        </blockquote>
    </section>    

    <!-- Ejemplo de incidencia de una enfermedad poco común IV-->
    <section>
        <h3>Ejemplo de incidencia de una enfermedad poco común</h3>
        <p>
            \begin{table}[]
            \centering
            \caption{Otros valores de sensitividad y especificidad para algunos exámenes de enfermedades comunes}
            \label{my-label}
            \begin{tabular}{lcc}
            \toprule
            Enfermedad         & Sensitividad & Especificidad \\ \midrule
            Cáncer de próstata & 85 \%        & 30 \%         \\
            Cáncer de mama     & 75 \%        & 92 \%         \\
            Cáncer de colon    & 86 \%        & 93 \%         \\
            COVID-19 BioMedomics & 89 \%        & 91 \%         \\
            \bottomrule
            \end{tabular}
            \end{table}   
        </p>
        <blockquote>
            ¿Por qué es tan baja esta probabilidad, con una <em>sensitividad</em> de la prueba del 99%?
        </blockquote>
    </section>    

    <!--Ejemplo del apagón en el sistema eléctrico-->
    <section>
        <h3>Ejemplo del apagón en el sistema eléctrico</h3>
        <p>
            Un barrio de Heredia experimenta un apagón. Una ingeniera de operación y mantenimiento de ESPH está cerca de ahí e inmediatamente sospecha de cuatro orígenes de la falla: ($A_1$) en la línea de transmisión Colima - Heredia, ($A_2$) en el transformador de la subestación de Heredia, ($A_3$) en la línea de distribución hacia San Pablo o en ($A_4$) el transformador del poste.

        </p>
        <blockquote>
            Sabe la ingeniera que ante una falla en el transformador de subestación siempre habrá una desconexión permanente. ¿Cuál es la probabilidad de que la causa de la desconexión permanente haya sido una falla en ($A_2$) el trafo de subestación?
        </blockquote>
        <p>
        <strong>Nota</strong>: Las protecciones del sistema eléctrico ejecutan dos operaciones ante una falla: o ($B$) una desconexión permanente o ($\comp{B}$) un "recierre" luego de un tiempo prudencial si la falla ha desaparecido.   
        </p>

    </section>    



    <!--Ejemplo del apagón en el sistema eléctrico II-->
    <section>
        <h3>Ejemplo del apagón en el sistema eléctrico</h3>
        <p>
            Los datos conocidos para el último mes son los siguientes:

            \begin{table}[]
            \centering
            \begin{tabular}{ccccc}
            \toprule
            & Falla & Casos & Recierre & Desconexión \\
            \midrule
            $A_1$ & Línea de transmisión    & 3 & 2 & 1 \\
            $A_2$ & Trafo de subestación    & 3 & 0 & 3 \\
            $A_3$ & Línea de distribución   & 16 & 9 & 7 \\
            $A_4$ & Trafo de poste          & 8 & 0 & 8 \\
            \end{tabular}
            \end{table}
            
            Para encontrar la probabilidad de cada falla, analizamos su frecuencia relativa con los datos provistos (se descartan aquí otros tipos de fallas). Por tanto
            
            \begin{multicols}{2}
            \begin{itemize}
                \item $P(A_1) = 3/30 = 0.10$
                \item $P(A_2) = 3/30 = 0.10$
                \item $P(A_3) = 16/30 = 0.5333$
                \item $P(A_4) = 8/30 = 0.2666$
            \end{itemize}
            \end{multicols}</p>

    </section>  
    

    <!--Ejemplo del apagón en el sistema eléctrico III-->
    <section>
        <h3>Ejemplo del apagón en el sistema eléctrico</h3>
        <p>
            Sean $B = \{ \text{desconexión permanente} \}$ y $\comp{B} = \{ \text{recierre} \}$. La probabilidad que buscamos es una proporción entre el evento de interés y todas las posibilidades juntas:

            \begin{equation*}
            \begin{matrix}
            \text{Probabilidad de que} \\
            A_2 \text{ sea la causa de } B
            \end{matrix}
             =
            \frac{
            \begin{matrix}
            \text{Probabilidad de} \\
            \text{que sucedan } A_2 \textbf{ y } B
            \end{matrix}
            }{
            \begin{matrix}
            \text{Suma de las probabilidades de} \\
            \text{todas las combinaciones } A_n \textbf{ y } B
            \end{matrix}
            }
            \end{equation*}
            
            y que puede expresarse como
            
            \begin{equation}
            \displaystyle
            P(A_2 \mid B) = \boxed{\frac{P(A_2 \cap B)}{P\left( \bigcup_{n=1}^{4} A_n \cap B \right)}} = \frac{P(A_2)P(B \mid A_2)}{P(B)}
            \end{equation}
            
            que es otra forma de escribir la regla de Bayes. La gráfica a continuación muestra los "caminos" posibles y el evento de interés está resaltado. 
            </p>

    </section>    

    <!--Ejemplo del apagón en el sistema eléctrico IV-->
    <section>
        <h3>Ejemplo del apagón en el sistema eléctrico</h3>
        <p>
        Aqui va grafica
        </p>

    </section>  

    <!--Ejemplo del apagón en el sistema eléctrico V-->
    <section>
        <h3>Ejemplo del apagón en el sistema eléctrico</h3>
        <p>
            Con $P(B \mid A_1) = 1/3 = 0.3333$, $P(B \mid A_2) = 1$, $P(B \mid A_3) = 7/16 = 0.4375$, $P(B \mid A_4) = 1$,

            {\footnotesize
            \begin{equation*}
            \begin{aligned}
            P(A_2 \mid B) & = \frac{P(A_2)P(B\mid A_2)}{P(A_1)P(B \mid A_1) + P(A_2)P(B \mid A_2) + P(A_3)P(B \mid A_3) + P(A_4)P(B \mid A_4)} \\
            & = \frac{(0.1)(1)}{(0.1)(0.3333)+(0.1)(1)+(0.5333)(0.4375)+(0.2666)(1)} \\
            & = 0.1579
            \end{aligned}
            \end{equation*}
            }
            
            que representa una probabilidad quizá más baja de lo esperado. A pesar de que una falla en el transformador de subestación <strong>siempre</strong> provoca una desconexión permanente (y el consiguiente apagón), no son fallas comunes, y por eso su probabilidad sigue siendo baja. En este problema las probabilidades más alta son las de fallas de líneas de distribución $P(B \mid A_3) = 0.3684$ (expuestas a ramas, choques, etc.) y los trafos de poste $P(B \mid A_4) = 0.4210$, que son menos casos pero siempre implican desconexión.
        </p>

    </section>  
    </section>
    <!--Videos y referencias en internet-->
    <section>
        <h3>Videos y referencias en internet</h3>
        <ul>
    
        <li>    <i class="bi bi-youtube"></i> <em>CrashCourse</em>, <a href="https://youtu.be/oZCskBpHWyk">Probability Part 2: Updating Your Beliefs with Bayes</a> </li>
            <li>     <i class="bi bi-youtube"></i> <em>3Blue1Brown</em>, <a href="https://youtu.be/HZGCoVF3YvM">Bayes theorem, and making probability intuitive</a> </li>
                <li>     <i class="bi bi-youtube"></i> <em>3Blue1Brown</em>, <a href="https://youtu.be/U_85TaXbeIo">The quick proof of Bayes' theorem</a> </li>
        
        </ul>
    </section>
    

<!-- Gráficos de Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
<script src="{% static 'js/p15.js' %}"></script>

{% endblock %}

{% block websocket %}
{% if role == "presenter" %}
<script>
    const wsRouteTx = 'wss://' + window.location.host + '/ws/deck/slider/p2/';
    const deckSocket = new WebSocket(wsRouteTx);

    // Registrar la conexión abierta
    deckSocket.onopen = function (event) {
        console.log('Conexión WebSocket abierta exitosamente como presentador en ' + wsRouteTx);
    };

    Reveal.on('slidechanged', event => {
        deckSocket.send(JSON.stringify({
            'indexh': event.indexh,
            'indexv': event.indexv
        }));
    });
</script>
{% else %}
<script>
    const wsRouteRx = 'wss://' + window.location.host + '/ws/deck/slider/p2/';
    const deckSocket = new WebSocket(wsRouteRx);

    // Registrar la conexión abierta
    deckSocket.onopen = function (event) {
        console.log('Conexión WebSocket abierta exitosamente como cliente en ' + wsRouteRx);
    };

    deckSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        Reveal.slide(data.message.indexh, data.message.indexv);
    };
</script>
{% endif %}
{% endblock %}