{% extends 'platform.html' %}

{% load static %}

{% block page_title %} Demostraciones {% endblock %}

{% block main %}

<h1>Demostraciones y pruebas de funcionalidades</h1>

<p>
    Los siguientes enlaces abren una nueva pestaña con una demostración de las funcionalidades del sitio web.
</p>

<ul>
    <li><a href="{% url 'equations' %}" target="_blank">Ecuaciones y otras herramientas matemáticas</a></li>
    <li><a href="{% url 'visualizations' %}" target="_blank">Visualizaciones estáticas y animadas de datos</a></li>
    <li><a href="{% url 'programming' %}" target="_blank">Programación</a></li>
    <li><a href="{% url 'interactivity' %}" target="_blank">Interactividad</a></li>
    <li><a href="{% url 'example' %}" target="_blank">Ejemplo de probabilidad</a></li>
    <li><a href="{% url 'master' %}" target="_blank">Presentacion maestra</a></li>
    <li><a href="{% url 'client' %}" target="_blank">Presentacion cliente</a></li>
</ul>

<form class="mt-5" action="{% url 'create_question' %}" method="get">
    <button type="submit" class="btn btn-dark">Agregar preguntas</button>
</form>

{% endblock %}
