{% extends 'decks.html' %} {% load static %} {% block content %}

<section>
  <h5>Proyecto de Docencia</h5>
  <h3>
    Estrategias docentes para sesiones virtuales interactivas con el desarrollo
    de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos
    de Señales y Sistemas
  </h3>
  <h4>Presentación de pruebas</h4>
  <p>2023</p>
</section>

<section>
  <h2>Interactividad en el sitio</h2>
</section>

<section>
  <script data-quiz>
    const questionSets = JSON.parse('{{ question_sets_json | escapejs | safe }}');
    console.log(questionSets);
     quiz = {
      info: {
        "name":    "Quiz",
        "main":    "Capitales",
        "results": "Resultado del Quiz",
        "level1":  "La clasificación más alta",
        "level2":  "La clasificación casi más alta",
        "level3":  "Clasificación intermedia",
        "level4":  "La clasificación casi más baja",
        "level5":  "La clasificación más baja"
      },
      questions: [],
    };

      questionSets[1].forEach((questionData) => {
        const question = {
          q: questionData.title, 
          a: [],
          correct: "<p><span>¡Correcto!</span> La respuesta correcta.</p>",
          incorrect: "<p><span>¡Oh no!</span> Esa no es la respuesta correcta.</p>",
        };

        questionData.choices.forEach((choice) => {
          question.a.push({
            option: choice.text,
            correct: choice.is_correct,
          });
        });

        quiz.questions.push(question);
      });

    console.log(quiz); // Muestra el objeto del cuestionario con preguntas y opciones
  </script>
</section>

<section>
  <h2>¿Qué es PyScript?</h2>
  <p>
    PyScript es un lenguaje de programación que permite la ejecución de código
    Python en el navegador web.
  </p>
</section>
</section>

<section>
  <script data-quiz>
    console.log(questionSets);
     quiz = {
      info: {
        "name":    "Quiz",
        "main":    "Ciudades de paises",
        "results": "Resultado del Quiz",
        "level1":  "La clasificación más alta",
        "level2":  "La clasificación casi más alta",
        "level3":  "Clasificación intermedia",
        "level4":  "La clasificación casi más baja",
        "level5":  "La clasificación más baja"
      },
      questions: [],
    };

      questionSets[2].forEach((questionData) => {
        const question = {
          q: questionData.title, 
          a: [],
          correct: "<p><span>¡Correcto!</span> La respuesta correcta.</p>",
          incorrect: "<p><span>¡Oh no!</span> Esa no es la respuesta correcta.</p>",
        };

        questionData.choices.forEach((choice) => {
          question.a.push({
            option: choice.text,
            correct: choice.is_correct,
          });
        });

        quiz.questions.push(question);
      });

    console.log(quiz); // Muestra el objeto del cuestionario con preguntas y opciones
  </script>
</section>

{% comment %} <section>
  <form method="post" action="{% url 'interactivity' %}">
    {% csrf_token %}
    <!-- Mostrar preguntas por conjunto -->
    {% for question_set, question_data in question_sets.items %}
    <h2>{{ question_set }}</h2>
    {% for data in question_data %}
    <h3>{{ data.question.title }}</h3>
    <p>{{ data.question.description }}</p>
    <!-- Iterar a través de las opciones de la pregunta -->
    {% for choice in data.choices %}
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="question_{{ data.question.question_id }}"
        id="{{ choice.choice_id }}"
        value="{{ choice.choice_id }}"
      />
      <label class="form-check-label" for="{{ choice.choice_id }}">
        {{ choice.text }}
      </label>
    </div>
    {% endfor %} {% endfor %} {% endfor %}
    <button
      type="button"
      class="btn btn-primary mt-2"
      id="enviarButton"
      onClick="sendAnswer()"
    >
      Enviar respuesta
    </button>
  </form>

  <div
    id="message"
    data-correct-choices="{% for key, value in correct_choices.items %}{{ key }}:{{ value }},{% endfor %}"
  ></div>
</section> {% endcomment %}

<script>
  function sendAnswer() {
    var form = document.querySelector("form");
    var formData = new FormData(form);

    fetch("{% url 'interactivity' %}", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Error al guardar las respuestas");
        }
      })
      .then((data) => {
        if (data.is_correct) {
          document.getElementById("message").innerText = data.message;
        } else {
          document.getElementById("message").innerText = "Incorrecto";
        }
      })
      .catch((error) => {
        document.getElementById("message").innerText =
          error.message || "Error en la solicitud";
      });
  }
</script>
{% endblock %}
