{% extends 'decks.html' %}

{% load static %}

{% block content %}

<py-config>
    packages = ["matplotlib", "pandas", "numpy", "scipy"]
    plugins = [
                "https://pyscript.net/latest/plugins/python/py_tutor.py"
            ]
</py-config>

<section>
    <h5>Proyecto de Docencia</h5>
    <h3>Estrategias docentes para sesiones virtuales interactivas con el desarrollo de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos de Señales y Sistemas</h3>
    <h4>Presentación de pruebas</h4>
    <p>2023</p>
</section>

<section>
    <h2>Pruebas de <b>REPL</b> con <b>PyScript</b></h2>
</section>

<section>
    <h2>¿Qué es PyScript?</h2>
    <p>PyScript es un framework que permite crear aplicaciones de Python directamente en el navegador web. 
        Utiliza la potencia de HTML y de modernas tecnologías web, como Pyodide y WASM. 
        PyScript está diseñado para ser accesible a usuarios de todos los niveles, por lo que 
        proporciona un lenguaje de programación que es tanto expresivo como fácil de aprender, 
        con innumerables aplicaciones y posibilidades.
    </p>
    <p>Más información sobre PyScript <a href="https://pyscript.net/">aquí</a>.</p>
</section>

<section>
    <h2>¿Qué es un REPL?</h2>
    <p>Un REPL (Read-Eval-Print Loop) es un entorno interactivo que te permite escribir código, 
        evaluarlo y ver los resultados de inmediato. En un REPL, podés ingresar comandos 
        uno por uno, el sistema los ejecuta al instante y muestra los resultados en tiempo real. 
        Un programa escrito en un entorno REPL se ejecuta paso a paso, lo que permite una interacción 
        directa y eficaz, facilitando la depuración.
    </p>
</section>

<section>
    <h2>Un REPL de PyScript</h2>
    <p>PyScript cuenta con un entorno REPL integrado que permite editar y ejecutar código. 
        Aquí hemos habilitado un REPL interactivo de prueba. 
        Podés modificar el código y correrlo presionando <b>Shift+Enter</b>.
    </p>
    {% include "repl.html" with code=repl1 output_id="output1" %}
</section>

<section>
    <h2>Python desde el navegador</h2>
    <p>El REPL de PyScript permite interactuar con Python directamente desde el navegador web. 
        Esto significa que podés explorar, importar y utilizar las bibliotecas que necesités con facilidad.
    </p>
    {% include "repl.html" with code=repl2 output_id="output2" %}
</section>

<section>
    <h2>Importando bibliotecas</h2>
    <p>Podés utilizar bibliotecas destacadas como Numpy, SciPy, Pandas y Matplotlib para una variedad de aplicaciones,
        ya sea para realizar cálculos científicos, manipular datos o crear visualizaciones.
    </p>
    {% include "repl.html" with code=repl3 output_id="output3" %}
</section>

<section>
    <h2>Visualizando tus datos</h2>
    <p>Podés generar gráficos con Matplotlib sin la necesidad de salir de esta ventana. 
        PyScript permite crear los gráficos directamente desde el REPL y observarlos aquí mismo.
    </p>
    {% include "repl.html" with code=repl4 output_id="output4" %}
</section>

<section>
    <h2>Manipulando tus datos</h2>
    <p>También podés hacer operaciones con DataFrames directamente desde el REPL y ver los resultados aquí.
        Así trabajás más fácilmente con tus datos y visualizás los cambios en tiempo real, sin cambiar de entorno.
    </p>
    {% include "repl.html" with code=repl5 output_id="output5" %}
</section>

<section>
    <h2>Viendo la terminal</h2>
    <p>Además de ver los resultados de cada REPL en su respectiva ventana, 
        también podés verlos aquí en la terminal.
    </p>
    <py-terminal></py-terminal>
</section>

{% endblock %}