{% extends 'decks.html' %}

{% load static %}

{% block content %}

<py-config>
    packages = ["matplotlib", "pandas", "numpy", "scipy"]
    plugins = [
                "https://pyscript.net/latest/plugins/python/py_tutor.py"
            ]
</py-config>

<section>
    <h5>Proyecto de Docencia</h5>
    <h3>Estrategias docentes para sesiones virtuales interactivas con el desarrollo de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos de Señales y Sistemas</h3>
    <h4>Presentación de pruebas</h4>
    <p>2023</p>
</section>

<section>
    <h2>Pruebas de REPL con PyScript</h2>
</section>

<section>
    <h2>¿Qué es PyScript?</h2>
    <p>PyScript es un lenguaje de programación que permite la ejecución de código Python en el navegador web.</p>
    <p>incluir link de pyscript</p>
</section>

<section>
    <h2>¿Qué es un REPL?</h2>
    <p>Un Read-Eval-Print Loop (REPL) es un entorno interactivo que permite escribir, ejecutar y ver resultados de código de forma inmediata.</p>
</section>

<section>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card overflow-auto" style="height: 50vh;">
                        <div class="card-header">
                            Código
                        </div>
                        <div class="card-body">
                            <py-repl output="replOutput1">2+2</py-repl>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card overflow-auto" style="height: 50vh;">
                        <div class="card-header">
                            Consola
                        </div>
                        <div class="card-body" id="replOutput1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <p>Podés hacer <b>operaciones</b>, <b>funciones</b>, <b>imprimir</b> en pantalla y usar <b>librerías</b>.</p>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card overflow-auto" style="height: 50vh;">
                        <div class="card-header">
                            Código
                        </div>
                        <div class="card-body">
                            <py-repl output="replOutput2">
                                def printText(myText):
                                    print(myText)
                                printText("edit this")
                            </py-repl>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card overflow-auto" style="height: 50vh;">
                        <div class="card-header">
                            Consola
                        </div>
                        <div class="card-body" id="replOutput2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h2>Librerías</h2>
    <p>Podés usar librerías de ciencia de datos como numpy, scipy, matplotlib y pandas.</p>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card overflow-auto" style="height: 50vh;">
                        <div class="card-header">
                            Código
                        </div>
                        <div class="card-body">
                            <py-repl output="replOutput3">
                                import numpy as np
                                import scipy as sci
                                import pandas as pd
                                import matplotlib.pyplot as plt
                            </py-repl>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card overflow-auto" style="height: 50vh;">
                        <div class="card-header">
                            Consola
                        </div>
                        <div class="card-body" id="replOutput3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <section>
        <h2>Plots</h2>
        <p>Podés generar plots de matplotlib.</p>
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card overflow-auto" style="height: 50vh;">
                            <div class="card-header">
                                Código
                            </div>
                            <div class="card-body">
                                <py-repl output="replOutput4">
                                    import matplotlib.pyplot as plt
                                    import numpy as np
                        
                                    t = np.arange(0.0, 2.0, 0.01)
                                    s = 1 + np.sin(2*np.pi*t)
                                    plt.plot(t, s)
                                    plt.show()
                                </py-repl>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card overflow-auto" style="height: 50vh;">
                            <div class="card-header">
                                Consola
                            </div>
                            <div class="card-body" id="replOutput4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section>
    <section>
        <h2>Tablas</h2>
        <p>También podés imprimir dataframes de pandas.</p>
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card overflow-auto" style="height: 50vh;">
                            <div class="card-header">
                                Código
                            </div>
                            <div class="card-body">
                                <py-repl output="replOutput5">
                                    import pandas as pd
                                    df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                                        'num_wings': [2, 0, 0, 0],
                                        'num_specimen_seen': [10, 2, 1, 8]},
                                        index=['falcon', 'dog', 'spider', 'fish'])
                                    print(df)
                                </py-repl>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card overflow-auto" style="height: 50vh;">
                            <div class="card-header">
                                Consola
                            </div>
                            <div class="card-body" id="replOutput5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <p>Y ver el resultado en la terminal.</p>
        <py-terminal id="repl5"></py-terminal>
    </section>
</section>

<!-- 
   <footer class="footer">
    <div><img src="../../static/media/firma-horizontal-dos-lineas-blanco.png" style="height: 100px;"></div>
</footer> 
    
    
    comm -->


{% endblock %}