{% extends 'decks.html' %}

{% load static %}

<!-- Configuraciones específicas del <head> -->
{% block head %}{% endblock %}
<!-- Panel (Python) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@holoviz/panel@1.3.1/dist/css/widgets.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@holoviz/panel@1.3.1/dist/css/markdown.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@holoviz/panel@1.3.1/dist/bundled/bootstraptemplate/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@holoviz/panel@1.3.1/dist/bundled/theme/default.css" />

<!-- Tabulator -->
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
{% block content %}

<!-- SECCIÓN 0 -->
<section>
    <h1>
        <code>&lt;diapo&gt;</code>
    </h1>
</section>

<!-- Portada y descripción -->
<section>
    <h2><code>&lt;diapo&gt;</code></h2>
    <h4>Un sistema de presentaciones web para probabilidad y estadística en ingeniería eléctrica</h4>
    <p>Esta es una presentación de ejemplo</p>
    <p class="small">Proyecto <strong>PD-IE-472-2022</strong> <br> <em>Estrategias docentes para sesiones virtuales interactivas con el desarrollo de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos de Señales y Sistemas</em></p>
</section>

<section>
    <h2><i class="bi bi-list-nested"></i><br>Contenido</h2>
    <dl>
        <dt>Capacidades del sistema</dt>
        <dd>Características deseadas para la plataforma, según comparación con otros sistemas similares de
            presentaciones</dd>
        <dt>Contenido web especializado</dt>
        <dd>Categorías diferenciadas de contenido web que son útiles para la enseñanza de teoría matemática y análisis
            de datos</dd>
        <dt>Actividades pedagógicas</dt>
        <dd>Tipos de actividades pedagógicas propuestas con las capacidades del sistema y los contenidos web
            especializados</dd>
    </dl>
</section>

<!-- SECCIÓN 1 -->
<!-- Capacidades del sistema -->
<section>
    <section>
        <h1><i class="bi bi-person-video3"></i><br>Capacidades del sistema</h1>
        <blockquote>
            Características deseadas para la plataforma, según comparación con otros sistemas similares de
            presentaciones
        </blockquote>
    </section>

    <!-- 1. Navegador web -->
    <section>
        <h3><span class="badge bg-secondary">1</span> <br> Presentación en un navegador web</h3>
        <p>
            El sistema está diseñado para ser usado en un navegador web.
        </p>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <i class="bi bi-window-fullscreen"></i> <br>
                    Visualización adaptada a diferentes tamaños de pantalla.
                </div>
                <div class="col">
                    <i class="bi bi-cloud-arrow-down-fill"></i> <br>
                    Mejor calidad de imagen y mejor uso de datos que con <em>streaming</em>.
                </div>
                <div class="col">
                    <i class="bi bi-ui-checks-grid"></i> <br>
                    Navegador habilita posibilidad de interacción con participantes.
                </div>
            </div>
        </div>
        <p class="small">¿Romper la cuarta pared?</p>
    </section>

    <!-- 2. Contenido multimedia -->
    <section>
        <h3><span class="badge bg-secondary">2</span> <br> Contenido multimedia</h3>
        <p>
            El sistema permite incluir contenido multimedia en las diapositivas. <br> ¡Ejemplo: este texto o <a href="https://youtu.be/dQw4w9WgXcQ">este link</a>!
        </p>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <h4>Animaciones</h4>
                <p class="lead">Es posible animar <br><span id="animate"></span></p>
                <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
                <script>
                    new TypeIt("#animate", {
                        speed: 50,
                        loop: true,
                        startDelay: 900,
                    })
                        .type("textos (como este)", { delay: 1500 })
                        .delete(18, { delay: 100 })
                        .type("imágenes", { delay: 1500 })
                        .delete(18, { delay: 100 })
                        .type("ecuaciones (pendiente)", { delay: 1500 })
                        .delete(22, { delay: 100 })
                        .type("¡muchas cosas! La web evolucionó para esto", { delay: 1500 })
                        .delete(58, { delay: 100 })
                        .type("¿la clase?", { delay: 3000 })
                        .go();
                </script>
            </div>
            <div class="col">
                <h4>Audio</h4>
                <audio controls>
                    <source src="{% static 'audio/perro.mp3' %}" type="audio/mpeg">
                    Audio no soportado.
                </audio>
            </div>
            <div class="col">
                <h4>Imágenes</h4>
                <img src="{% static 'images/blob.gif' %}" height="200px">
            </div>
            <div class="col">
                <h4>Video</h4>
                <video controls height="200px">
                    <source src="{% static 'video/nyan_cat.mp4' %}" type="video/mp4">
                    Video no soportado.
                </video>
            </div>
        </div>
    </section>

    <!-- 3. Contenido web -->
    <section>
        <h3><span class="badge bg-secondary">3</span> <br> Contenido web</h3>
        <p>
            El sistema permite incluir <em>otros tipos</em> de contenido web en las diapositivas.
        </p>
        <p class="small">(Aparte de los contenidos multimedia de la sección anterior)</p>
        <div class="row">
            <div class="col">
                <h4>Formularios</h4>
                <label for="age" class="form-label small text-start">Ingrese su edad para conocer el número ganador de la lotería</label>
                <input type="number" id="age" class="form-control" aria-describedby="age-help" placeholder="Edad">
                <div id="age-help" class="form-text text-start">
                    Nota: el resultado no especifica para cuál sorteo.
                </div>
                <button type="submit" class="btn btn-primary mt-3" onclick="getRandomNumber()">Voy a tener suerte</button>
                <script>
                    function getRandomNumber() {
                        let age = document.getElementById('age').value;
                        let luckyNumber = Math.floor(Math.random() * 100);
                        alert(`Su número de la suerte es ${luckyNumber}.`);
                    }
                </script>
            </div>
            <div class="col">
                <h4>Contenidos incrustados</h4>
                <iframe src="https://ourworldindata.org/explorers/global-food?facet=none&country=USA~DEU~FRA~GBR~BRA~ZAF%3BhideControls&Food=Maize+%28corn%29&Metric=Production&Per+Capita=false&hideControls=true" loading="lazy" style="width: 100%; height: 400px; border: 0px none;"></iframe>
            </div>

        </div>
    </section>

    <!-- 4. Contenido interactivo -->
    <section>
        <h3><span class="badge bg-secondary">4</span> <br> Contenido interactivo</h3>
        <p>
            La presentación vive en el navegador de cada participante, donde puede interactuar con algunos elementos, y también entre participantes de la presentación.
        </p>
        <p><span class="badge rounded-pill text-bg-warning">Pendiente</span></p>
        <p class="small">Ya tenemos la llave: WebSockets</p>
    </section>

    <!-- 5. Contenido matemático -->
    <section>
        <h3><span class="badge bg-secondary">5</span> <br> Contenido matemático</h3>
        <p>
            El sistema permite incluir contenido matemático en las diapositivas.
        </p>
        <div class="row">
            <div class="col">
                <h4>Ecuaciones</h4>
            </div>
            <div class="col">
                <h4>Gráficos</h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">

                $$
                f_X(x) = {\frac{1}{\sigma {\sqrt {2\pi }}}} e^{-{\frac{1}{2}} \left({\frac {x-\mu }{\sigma
                }}\right)^{2}}
                $$
            </div>
            <div class="col">

                <script src="{% static 'bokeh/simple_normal.js' %}" id="simple-normal"></script>
            </div>
        </div>
    </section>

    <!-- 6. Visualización de datos -->
    <section>
        <h3><span class="badge bg-secondary">6</span> <br> Visualización de datos</h3>
        <p>
            El sistema permite incluir visualizaciones de datos en las diapositivas, como tablas o gráficas en tiempo real.
        </p>
        <script defer src="https://cdn.jsdelivr.net/npm/@holoviz/panel@1.3.1/dist/panel.min.js"></script>
        <div class="pyscript d-flex justify-content-center">
            <div class="row" id="content">
                <div class="col mh-100 float-left" id="main">
                    <div class="bk-root" id="controls"></div>
                    <div class="row">
                        <div class="bk-root" id="plot"></div>
                    </div>
                </div>
            </div>

            <script type="py" src="{% static 'pyscript/stream.py' %}" config="{% static 'pyscript.json' %}"></script>
        </div>
    </section>

    <!-- 7. Contenido de programación -->
    <section>
        <h3><span class="badge bg-secondary">7</span> <br> Contenido de programación</h3>
        <p>
            Es posible ver pero también editar y ejecutar (en el navegador) fragmentos de código de Python.
        </p>
        <div class="w-auto container">
            <div class="d-flex flex-wrap flex-md-nowrap align-content-around justify-content-between">
                <div class="w-100 card m-2" style="height: 40vh;">
                    <div class="card-header d-flex justify-content-start">
                        <div class="card-header-pills">
                            <i class="bi bi-terminal-fill"></i>
                        </div>
                        <div class="card-title my-0 ms-3">Código</div>
                    </div>
                    <div class="card-body overflow-auto">
                        <py-repl output="hola">
                            <pre>
                                <code data-trim data-noescape data-line-numbers>
                                    import numpy as np
                                    from scipy import stats
                    
                                    # Generar números aleatorios
                                    x = np.random.normal(size=1000)
                                </code>
                            </pre>
                        </py-repl>
                    </div>
                </div>
                <div class="w-100 card m-2" style="height: 40vh;">
                    <div class="card-header d-flex justify-content-start">
                        <div class="card-header-pills">
                            <i class="bi bi-chat-left-text-fill"></i>
                        </div>
                        <div class="card-title my-0 ms-3">Resultados</div>
                    </div>
                    <div class="card-body overflow-auto">
                        <div id="hola"></div>
                    </div>
                </div>
            </div>
        </div>
        <p><span class="badge rounded-pill text-bg-warning"><i class="bi bi-emoji-tear-fill"></i> Pendiente</span></p>
    </section>

    <!-- 8. Resultados de simulaciones -->
    <section>
        <h3><span class="badge bg-secondary">8</span> <br> Resultados de simulaciones</h3>
        <p>
            El sistema permite incluir resultados de simulaciones en las diapositivas.
        </p>
        <p>Esto es la combinación de capacidades descritas anteriormente:</p>
        <ul>
            <li>Despliegue de gráficos</li>
            <li>Ejecución de Python en el navegador</li>
        </ul>
    </section>

    <!-- 9. Sesiones remotas -->
    <section>
        <h3><span class="badge bg-secondary">9</span> <br> Sesiones remotas</h3>
        <p>
            Sincronización de la presentación del docente en el navegador de cada participante.
        </p>
        <div class="row align-items-center">
            <div class="col">
                <h4>Modo presentador</h4>
                <i class="bi bi-person-video3"></i> <br>
                Navega las diapositivas y...
            </div>
            <div class="col">
                <i class="bi bi-arrow-right-circle-fill"></i> <br>
                <span class="small">Django Channels WebSockets</span>
            </div>
            <div class="col">
                <h4>Modo participante</h4>
                <i class="bi bi-people-fill"></i> <br>
                ...sigue la presentación.
            </div>
        </div>
    </section>

    <!-- 10. Registro de participantes -->
    <section>
        <h3><span class="badge bg-secondary">10</span> <br> Registro de participantes</h3>
        <p>
            La plataforma tiene un registro de estudiantes matriculados en el o los cursos.
        </p>
        <ul>
            <li>Registro de participación en actividades</li>
            <li>Notas de participantes en evaluaciones</li>
        </ul>
    </section>

    <!-- 11. Edición de diapositivas por código -->
    <section>
        <h3><span class="badge bg-secondary">11</span> <br> Edición de diapositivas por código</h3>
        <p>
            Para bien o para mal, la edición de las presentaciones es enteramente hecha en los archivos de código fuente.
        </p>
        <p>
        <h1><i class="bi bi-code-slash"></i></h1>
        </p>
        <p class="small">(No hay planes inmediatos de cambiar de paradigma)</p>
    </section>

    <!-- 12. Software libre -->
    <section>
        <h3><span class="badge bg-secondary">12</span> <br> Software libre</h3>
        <p>
            Todo el <em>stack</em> tecnológico está hecho con plataformas de software libre y el repositorio del proyecto es de acceso público.
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 small">
            <div class="col">
                <h5>Django</h5>
                <p>Plataforma del servidor para gestión de usuarios, bases de datos, etc.</p>
            </div>
            <div class="col">
                <h5>RevealJS</h5>
                <p>Plataforma HTML/CSS/JavaScript de presentaciones en el navegador.</p>
            </div>
            <div class="col">
                <h5>PyScript</h5>
                <p>Python dentro del código HTML ejecutado directamente en el navegador.</p>
            </div>
            <div class="col">
                <h5>Bootstrap</h5>
                <p>Formato adicional dentro de la presentación para la diagramación de las diapositivas.</p>
            </div>
            <div class="col">
                <h5>Bokeh</h5>
                <p>Paquete de Python para creación de gráficas y exportación como contenido web.</p>
            </div>
            <div class="col">
                <h5>Python</h5>
                <p>Programación de uso general, incluyendo paquetes de análisis de datos.</p>
            </div>
        </div>
    </section>
</section>

<!-- SECCIÓN 2 -->
<!-- Categorías de contenidos web -->
<section>
    <section>
        <h1><i class="bi bi-code-square"></i><br>Contenido web especializado</h1>
        <blockquote>
            Categorías diferenciadas de contenido web que son útiles para la enseñanza de teoría matemática y análisis
            de datos
        </blockquote>
    </section>

    <!-- I. Ecuaciones y otras herramientas matemáticas -->
    <section>
        <h3><span class="badge bg-secondary">I</span> <br> Ecuaciones y otras herramientas matemáticas</h3>
        <p>
            Es importante para un curso de teoría matemática básica poder mostrar de forma nativa ecuaciones y gráficos para ilustrar los conceptos.
        </p>
    </section>
    <section>
        <h3>Ecuaciones en LaTeX</h3>
        <div class="row">
            <div class="row">
                <div class="col">
                    <h4>Estáticas</h4>
                </div>
                <div class="col">
                    <h4>Animadas</h4>
                </div>
            </div>
            <div class="col">
                $$
                x_{1,2} = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}
                $$
            </div>
            <div class="col">

                <img src="{% static 'images/manim.gif' %}" alt="">
                <p class="small"><a href="https://www.manim.community/" target="_blank">Manim</a> es un paquete de Python para generación de amimaciones con gráficos, geometrías y ecuaciones.</p>
                <span class="small badge rounded-pill bg-secondary">Opcional</span> <span class="small badge rounded-pill text-bg-warning">Pendiente</span>
            </div>
        </div>
    </section>
    <section>
        <h3>Gráficos en Bokeh</h3>
        <script src="{% static 'bokeh/simple_normal.js' %}" id="simple-normal"></script>
    </section>
    <section>
        <h3>Gráficos en TikZ</h3>
        <pre>
            <code>
                \begin{tikzpicture}
                    \def \n {5}
                    \def \radius {3cm}
                    \def \margin {8}
                    \foreach \s in {1,...,\n}
                    {
                        \node[draw, circle] at ({360/\n * (\s - 1)}:\radius) {$\s$};
                        \draw[->, >=latex] ({360/\n * (\s - 1)+\margin}:\radius) 
                            arc ({360/\n * (\s - 1)+\margin}:{360/\n * (\s)-\margin}:\radius);
                    }
                \end{tikzpicture}
            </code>
        </pre>

        <script type="text/tikz">
            \begin{tikzpicture}
                \def \n {5}
                \def \radius {3cm}
                \def \margin {8} % margin in angles, depends on the radius
                \foreach \s in {1,...,\n}
                {
                    \node[draw, circle] at ({360/\n * (\s - 1)}:\radius) {$\s$};
                    \draw[->, >=latex] ({360/\n * (\s - 1)+\margin}:\radius) 
                        arc ({360/\n * (\s - 1)+\margin}:{360/\n * (\s)-\margin}:\radius);
                }
            \end{tikzpicture}
        </script>

    </section>

    <!-- II. Visualizaciones de datos -->
    <section>
        <h3><span class="badge bg-secondary">II</span> <br> Visualizaciones de datos</h3>
        <p>
            Es importante para un curso basado en análisis de datos poder mostrar diferentes tipos de visualizaciones de datos, como tablas y otros gráficos, inclusive en tiempo real.
        </p>
    </section>
    <section>
        <h3>Tablas interactivas incrustadas</h3>
        <iframe src="https://ourworldindata.org/grapher/life-expectancy" loading="lazy" style="width: 100%; height: 500px; border: 0px none;"></iframe>
    </section>

    <!-- III. Contenido de programación -->
    <section>
        <h3><span class="badge bg-secondary">III</span> <br> Contenido de programación</h3>
        <p>
            Es importante para un curso que incluye computación científica y cálculo numérico para el análisis de datos, mostrar o ejecutar código como método de enseñanza y aprendizaje.
        </p>
    </section>

    <!-- IV. Interactividad -->
    <section>
        <h3><span class="badge bg-secondary">IV</span> <br> Interactividad</h3>
        <p>
            Es importante para un curso virtual procurar la participación activa de los estudiantes, como método de motivación en clase y de evaluación de conocimientos.
        </p>
    </section>
</section>

<!-- SECCIÓN 3 -->
<!-- Tipos de actividades pedagógicas -->
<section>
    <section>
        <h1><i class="bi bi-pencil-square"></i><br>Actividades pedagógicas</h1>
        <blockquote>
            Tipos de actividades pedagógicas propuestas con las capacidades del sistema y los contenidos web especializados
        </blockquote>
    </section>

    <!-- A. Visualizaciones de la teoría -->
    <section>
        <h3><span class="badge bg-secondary">A</span> <br> Visualizaciones de la teoría</h3>
        <p>
            Todos los elementos actualmente utilizados en las presentaciones del curso IE0405 - Modelos Probabilísticos de Señales y Sistemas son soportados por la plataforma, por lo que la migración es posible, aunque laboriosa.
        </p>
        <blockquote class="small">
            El teorema de Bayes, o regla de la probabilidad condicional inversa, establece que:
            $$
            P(A \mid B) = \frac{P(A)P(B \mid A)}{P(B)}
            $$
        </blockquote>
    </section>

    <!-- B. Ejemplos prácticos -->
    <section>
        <h3><span class="badge bg-secondary">B</span> <br> Ejemplos prácticos</h3>
        <p>
            Ejemplos prácticos explicados por el docente, con ecuaciones, tablas, gráficas, imágenes y otras visualizaciones son posibles.
        </p>
        <blockquote class="small">
            En investigación clínica, la "probabilidad de detección" es llamada <strong>sensitividad</strong> y la "tasa negativa verdadera" es llamada <strong>especificidad</strong>. Estos son ejemplos para exámenes de detección de enfermedades usuales:
            <table class="table">
                <thead>
                    <tr>
                        <td>Enfermedad</td>
                        <td>Sensitividad</td>
                        <td>Especificidad</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>COVID-19 BioMedomics</td>
                        <td>89%</td>
                        <td>91%</td>
                    </tr>
                    <tr>
                        <td>Cáncer de próstata</td>
                        <td>85%</td>
                        <td>30%</td>
                    </tr>
                    <tr>
                        <td>Cáncer de mama</td>
                        <td>75%</td>
                        <td>92%</td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
    </section>

    <!-- C. Problemas resueltos de práctica -->
    <section>
        <h3><span class="badge bg-secondary">C</span> <br> Problemas resueltos de práctica</h3>
        <p>
            Como curso de teoría matemática, es importante demostrar la resolución numérica de problemas.
        </p>
        <blockquote class="small">
            Si la tasa de ocurrencia de COVID es de una en cien personas, y si una prueba sale positiva, ¿cuál es la probabilidad de tener realmente la enfermedad?
            $$
            P(A \mid B) = \frac{P(A)P(B \mid A)}{P(B)} = \frac{0.01 \times 0.89}{0.01 \times 0.89 + 0.99 \times 0.09} = 9\%
            $$
        </blockquote>
        <p class="small">Una adición deseada es Manim, para animaciones de problemas resueltos.</p>
    </section>

    <!-- D. Evaluaciones teóricas y prácticas -->
    <section>
        <h3><span class="badge bg-secondary">D</span> <br> Evaluaciones teóricas y prácticas</h3>
        <p>
            Con la interactividad será posible hacer preguntas de revisión durante la presentación.
        </p>
        <blockquote class="small">
            Si la especificidad aumenta a un 99%, ¿cuál es la nueva probabilidad de tener la enfermedad dado un resultado positivo de la prueba?
        </blockquote>
        <div class="text-start">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="o1">
                <label class="form-check-label" for="o1">
                    47,3%
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="o2">
                <label class="form-check-label" for="o2">
                    16,7%
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-3" onclick="checkAnswer()">Verificar respuesta</button>
            <script>
                function checkAnswer() {
                    let correct = document.getElementById('o1').checked;
                    if (correct) {
                        alert('¡Correcto!');
                    } else {
                        alert('Incorrecto. La respuesta correcta es 47,3%.');
                    }
                }
            </script>
        </div>
    </section>

    <!-- E. Ejercicios de programación -->
    <section>
        <h3><span class="badge bg-secondary">E</span> <br> Ejercicios de programación</h3>
        <p>
            Tanto para demostración de los conceptos como para evaluación, el curso tiene ejercicios de computación científica con Python.
        </p>
        <p>
            Tpícamente consiste en:
        </p>
        <ul>
            <li>Selección de un conjunto de datos de prueba (por ejemplo, en <a href="https://www.kaggle.com/datasets">Kaggle</a>)</li>
            <li>Uso de Pandas de Numpy para manipulación y limpieza de datos</li>
            <li>Uso de SciPy Stats para modelado probabilístico</li>
            <li>Uso de Matplotlib para visualización (o Bokeh)</li>
            <li>Análisis de resultados</li>
        </ul>
    </section>

    <!-- F. Problema de diseño -->
    <section>
        <h3><span class="badge bg-secondary">F</span> <br> Problema de diseño</h3>
        <p>
            Es deseable aplicar las actividades anteriores en una situación más realista.
        </p>
        <p>
            Por esta razón el curso tiene un proyecto de diseño como parte de su evaluación, y cada clase modelo tendrá un ejemplo a pequeña escala del tipo de problemas que será necesario resolver.
        </p>
    </section>
</section>

<!-- SECCIÓN N -->
<!-- Aspectos finales -->
<section>
    <h3><em>Clases modelo</em> para el primer ciclo del 2024</h3>
    <table>
        <tr>
            <td>CM</td>
            <td>Semana</td>
            <td>Fechas</td>
            <td>Tema</td>
            <td>Pres.</td>
            <td>Subtema</td>
        </tr>
        <tr>
            <td>1</td>
            <td>3</td>
            <td>1 abr</td>
            <td>1</td>
            <td>3</td>
            <td>Pruebas repetidas de Bernoulli</td>
        </tr>
        <tr>
            <td>2</td>
            <td>6</td>
            <td>22 abr</td>
            <td>2</td>
            <td>7, 8</td>
            <td>Transformaciones de variables aleatorias</td>
        </tr>
        <tr>
            <td>3</td>
            <td>9</td>
            <td>13 may</td>
            <td>3</td>
            <td>12</td>
            <td>Teorema del límite central</td>
        </tr>
        <tr>
            <td>4</td>
            <td>13</td>
            <td>10 jun</td>
            <td>4</td>
            <td>15</td>
            <td>Características espectrales de procesos aleatorios</td>
        </tr>
        <tr>
            <td>5</td>
            <td>16</td>
            <td>31 jun</td>
            <td>5</td>
            <td>19</td>
            <td>Cadenas de Markov de tiempo continuo</td>
        </tr>
    </table>
    <p class="small">Lunes 12:00 m.d. por <a href="https://udecr.zoom.us/j/5223705889">Zoom</a> <br> IE0405 - Modelos Probabilísticos de Señales y Sistemas</p>
</section>
<section>
    <h1>
        <code>&lt;/diapo&gt;</code>
    </h1>
</section>

{% endblock %}

{% block websocket %}
{% if role == "presenter" %}
<script>
    const wsRouteTx = 'ws://' + window.location.host + '/ws/deck/slider/project/';
    const deckSocket = new WebSocket(wsRouteTx);

    // Registrar la conexión abierta
    deckSocket.onopen = function (event) {
        console.log('Conexión WebSocket abierta exitosamente como presentador en ' + wsRouteTx);
    };

    Reveal.on('slidechanged', event => {
        deckSocket.send(JSON.stringify({
            'indexh': event.indexh,
            'indexv': event.indexv
        }));
    });
</script>
{% else %}
<script>
    const wsRouteRx = 'ws://' + window.location.host + '/ws/deck/slider/project/';
    const deckSocket = new WebSocket(wsRouteRx);

    // Registrar la conexión abierta
    deckSocket.onopen = function (event) {
        console.log('Conexión WebSocket abierta exitosamente como cliente en ' + wsRouteRx);
    };

    deckSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        Reveal.slide(data.message.indexh, data.message.indexv);
    };
</script>
{% endif %}
{% endblock %}