{% extends 'decks.html' %}

{% load static %}

{% block content %}

<!-- SECCIÓN 0 -->
<!-- Portada y descripción -->
<section>
    <h1>
        <code>&lt;diapo&gt;</code>
    </h1>
</section>

<section>
    <h2><code>&lt;diapo&gt;</code></h2>
    <h4>Un sistema de presentaciones web para probabilidad y estadística en ingeniería eléctrica</h4>
    <p class="small">Fabián Abarca Calderón</p>
    <p>Esta es una presentación de</p>
</section>

<section>
    <h2>Contenido</h2>
    <dl>
        <dt>Capacidades del sistema</dt>
        <dd>Características deseadas para la plataforma, según comparación con otros sistemas similares de presentaciones</dd>
        <dt>Contenido web especializado</dt>
        <dd>Categorías diferenciadas de contenido web que son útiles para la enseñanza de teoría matemática y análisis de datos</dd>
        <dt>Actividades pedagógicas</dt>
        <dd>Tipos de actividades pedagógicas propuestas con las capacidades del sistema y los contenidos web especializados</dd>
    </dl>
</section>

<!-- SECCIÓN 1 -->
<!-- Capacidades del sistema -->
<section>
    <section>
        <h1>Capacidades del sistema</h1>
        <blockquote>
            Características deseadas para la plataforma, según comparación con otros sistemas similares de presentaciones
        </blockquote>
    </section>

    <!-- 1. Navegador web -->
    <section>
        <h3><span class="badge bg-secondary">1</span> <br> Presentación en un navegador web</h3>
        <p>
            El sistema está diseñado para ser usado en un navegador web.
        </p>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <i class="bi bi-arrows-fullscreen"></i> <br>
                    Visualización adaptada a diferentes tamaños de pantalla.
                </div>
                <div class="col">
                    <i class="bi bi-cloud-arrow-down"></i> <br>
                    Mejor calidad de imagen y mejor uso de datos que con <em>streaming</em>.
                </div>
                <div class="col">
                    <i class="bi bi-ui-checks-grid"></i> <br>
                    Navegador habilita posibilidad de interacción con participantes.
                </div>
            </div>
        </div>
        <p class="small">¿Romper la cuarta pared?</p>
    </section>

    <!-- 2. Contenido multimedia -->
    <section>
        <h3><span class="badge bg-secondary">2</span> <br> Contenido multimedia</h3>
        <p>
            El sistema permite incluir contenido multimedia en las diapositivas.
        </p>
        <div class="row">
            <div class="col">
                Texto
            </div>
            <div class="col">
                Imágenes
            </div>
            <div class="col">
                Audio
                <audio controls>
                    <source src="{% static 'audio/perro.mp3' %}" type="audio/mpeg">
                    Audio no soportado.
                </audio>
            </div>
            <div class="col">
                Video
                <video controls>
                    <source src="{% static 'video/nyan_cat.mp4' %}" type="video/mp4">
                    Video no soportado.
                </video>
            </div>
            <div class="col">
                Animaciones
            </div>
        </div>
        <p class="small">Común en cualquier plataforma de presentaciones. La diferencia: interacción directa con los contenidos.</p>
    </section>

    <!-- 3. Contenido web -->
    <section>
        <h3><span class="badge bg-secondary">3</span> <br> Contenido web</h3>
        <p>
            El sistema permite incluir contenido web en las diapositivas.
        </p>
        <div class="row">
            <div class="col">
                Ejemplo de imagen
                <code>&lt;img&gt;</code>
            </div>
            <div class="col">
                Ejemplo de audio
                <code>&lt;audio&gt;</code>
            </div>
            <div class="col">
                Ejemplo de video
                <code>&lt;video&gt;</code>
            </div>
            <div class="col">
                Ejemplo de animación
                <code>&lt;img&gt;</code>
            </div>
        </div>
    </section>

    <!-- 4. Contenido interactivo -->
    <section>
        <h3><span class="badge bg-secondary">4</span> <br> Contenido interactivo</h3>
        <p>
            La presentación vive en el navegador de cada participante, donde puede interactuar con algunos elementos.
        </p>
    </section>

    <!-- 5. Contenido matemático -->
    <section>
        <h3><span class="badge bg-secondary">5</span> <br> Contenido matemático</h3>
        <p>
            El sistema permite incluir contenido matemático en las diapositivas.
        </p>
        <div class="row">
            <div class="col">
                <h4>Ecuaciones</h4>
                $$
                f_X(x) = {\frac{1}{\sigma {\sqrt {2\pi }}}} e^{-{\frac{1}{2}} \left({\frac {x-\mu }{\sigma
                }}\right)^{2}}
                $$
            </div>
            <div class="col">
                <h4>Gráficos</h4>
                <div class="mx-auto">
                    <script type="text/tikz">
                        \begin{tikzpicture}
                            \def \n {5}
                            \def \radius {3cm}
                            \def \margin {8} % margin in angles, depends on the radius
                            \foreach \s in {1,...,\n}
                            {
                                \node[draw, circle] at ({360/\n * (\s - 1)}:\radius) {$\s$};
                                \draw[->, >=latex] ({360/\n * (\s - 1)+\margin}:\radius) 
                                    arc ({360/\n * (\s - 1)+\margin}:{360/\n * (\s)-\margin}:\radius);
                            }
                        \end{tikzpicture}
                    </script>
                </div>
            </div>
        </div>
    </section>

    <!-- 6. Visualización de datos -->
    <section>
        <h3><span class="badge bg-secondary">6</span> <br> Visualización de datos</h3>
        <p>
            El sistema permite incluir visualizaciones de datos en las diapositivas.
        </p>
        <img src="img/oscillator.gif" width="50%">
    </section>

    <!-- 7. Contenido de programación -->
    <section>
        <h3><span class="badge bg-secondary">7</span> <br> Contenido de programación</h3>
        <p>
            El sistema permite incluir contenido de programación en las diapositivas.
        </p>
        <pre>
						<code data-trim data-noescape data-line-numbers>
							import numpy as np
							from scipy import stats

							# Generar números aleatorios
							x = np.random.normal(size=1000)
						</code>
					</pre>
    </section>

    <!-- 8. Resultados de simulaciones -->
    <section>
        <h3><span class="badge bg-secondary">8</span> <br> Resultados de simulaciones</h3>
        <p>
            El sistema permite incluir resultados de simulaciones en las diapositivas.
        </p>
    </section>

    <!-- 9. Sesiones remotas -->
    <section>
        <h3><span class="badge bg-secondary">9</span> <br> Sesiones remotas</h3>
        <p>
            El sistema permite incluir sesiones remotas en las diapositivas.
        </p>
        Sincronización de presentación en navegador de cada participante
    </section>

    <!-- 10. Registro de participantes -->
    <section>
        <h3><span class="badge bg-secondary">10</span> <br> Registro de participantes</h3>
        <p>
            El sistema permite registrar la participación de los asistentes.
        </p>
        Registro de estudiantes matriculados
        Registro de participación en actividades
        Notas de participantes en evaluaciones
    </section>

    <!-- 11. Edición de diapositivas por código -->
    <section>
        <h3><span class="badge bg-secondary">11</span> <br> Edición de diapositivas por código</h3>
        <p>
            El sistema permite editar las diapositivas por código.
        </p>
    </section>

    <!-- 12. Software libre -->
    <section>
        <h3><span class="badge bg-secondary">12</span> <br> Software libre</h3>
        <p>
            El sistema es software libre.
        </p>
    </section>
</section>

<!-- SECCIÓN 2 -->
<!-- Categorías de contenidos web -->
<section>
    <section>
        <h1>Contenido web especializado</h1>
        <blockquote>
            Categorías diferenciadas de contenido web que son útiles para la enseñanza de teoría matemática y análisis de datos
        </blockquote>
    </section>

    <!-- I. Ecuaciones y otras herramientas matemáticas -->
    <section>
        <h3><span class="badge bg-secondary">I</span> <br> Ecuaciones y otras herramientas matemáticas</h3>
        <p>
            El sistema permite incluir ecuaciones y otras herramientas matemáticas en las diapositivas.
        </p>
    </section>

    <!-- II. Visualizaciones de datos -->
    <section>
        <h3><span class="badge bg-secondary">II</span> <br> Visualizaciones de datos</h3>
        <p>
            El sistema permite incluir visualizaciones de datos en las diapositivas.
        </p>
    </section>

    <!-- III. Contenido de programación -->
    <section>
        <h3><span class="badge bg-secondary">III</span> <br> Contenido de programación</h3>
        <p>
            El sistema permite incluir contenido de programación en las diapositivas.
        </p>
    </section>

    <!-- IV. Interactividad -->
    <section>
        <h3><span class="badge bg-secondary">IV</span> <br> Interactividad</h3>
        <p>
            El sistema permite incluir interactividad en las diapositivas.
        </p>
    </section>
</section>

<!-- SECCIÓN 3 -->
<!-- Tipos de actividades pedagógicas -->
<section>
    <section>
        <h1>Actividades pedagógicas</h1>
        <blockquote>
            Tipos de actividades pedagógicas propuestas con las capacidades del sistema y los contenidos web especializados
        </blockquote>
    </section>

    <!-- A. Visualizaciones de la teoría -->
    <section>
        <h3><span class="badge bg-secondary">A</span> <br> Visualizaciones de la teoría</h3>
        <p>
            El sistema permite incluir visualizaciones de la teoría en las diapositivas.
        </p>
    </section>

    <!-- B. Ejemplos prácticos -->
    <section>
        <h3><span class="badge bg-secondary">B</span> <br> Ejemplos prácticos</h3>
        <p>
            El sistema permite incluir ejemplos prácticos en las diapositivas.
        </p>
    </section>

    <!-- C. Problemas resueltos de práctica -->
    <section>
        <h3><span class="badge bg-secondary">C</span> <br> Problemas resueltos de práctica</h3>
        <p>
            El sistema permite incluir problemas resueltos de práctica en las diapositivas.
        </p>
    </section>

    <!-- D. Evaluaciones teóricas y prácticas -->
    <section>
        <h3><span class="badge bg-secondary">D</span> <br> Evaluaciones teóricas y prácticas</h3>
        <p>
            El sistema permite incluir evaluaciones teóricas y prácticas en las diapositivas.
        </p>
    </section>

    <!-- E. Ejercicios de programación -->
    <section>
        <h3><span class="badge bg-secondary">E</span> <br> Ejercicios de programación</h3>
        <p>
            El sistema permite incluir ejercicios de programación en las diapositivas.
        </p>
    </section>

    <!-- F. Problema de diseño -->
    <section>
        <h3><span class="badge bg-secondary">F</span> <br> Problema de diseño</h3>
        <p>
            El sistema permite incluir problemas de diseño en las diapositivas.
        </p>
    </section>
</section>

<!-- SECCIÓN N -->
<!-- Aspectos finales -->
<section>
    Y así terminamos este capítulo.
</section>
<section>
    <h1>
        <code>&lt;/diapo&gt;</code>
    </h1>
</section>

{% endblock %}