{% extends 'platform.html' %} {% load static %} {% block page_title %} Agregar
Pregunta {% endblock %} {% block main %} {% load crispy_forms_tags %}

<div class="container-lg w-75">
  <h2 class="mt-3">Crear Pregunta</h2>
  <form
    method="post"
    action="{% url 'create_question' %}"
    enctype="multipart/form-data"
  >
    <h5 class="mt-3">Tipo de pregunta:</h5>
    <select id="selection-type" class="form-select mt-2 mb-3">
      <option value="single">Selección única</option>
      <option value="multiple">Selección múltiple</option>
    </select>

    {% csrf_token %} {{ question_form|crispy }}

    <h5 class="">Opciones:</h5>
    <div id="choices-container" class="my-3"></div>

    <button
      type="button"
      onclick="addChoiceInput(false)"
      class="btn btn-outline-primary my-1"
    >
      Agregar Opción
    </button>
    <br />
    <div class="d-flex justify-content-end">
      <input
        type="submit"
        value="Guardar Pregunta"
        class="btn btn-success mx-1 my-1"
      />
      <a href="{% url 'demo' %}" class="btn btn-danger mx-1 my-1">Volver</a>
    </div>
  </form>
</div>

<script src="{% static 'js/add_question.js' %}"></script>

{% endblock %}
