{% load static %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between">
        <div class="card" style="height: 50vh; width: 47.5vh;">
            <div class="card-header d-flex justify-content-start">
                <i class="fa-solid fa-terminal" style="color: #93a1a1; size: 50%;"></i>
            </div>
            <div class="card-body overflow-auto">
                <py-repl output="{{ output_id }}">{{ code }}</py-repl>
            </div>
        </div>
        <div class="card" style="height: 50vh; width: 47.5vh;">
            <div class="card-header d-flex justify-content-start">
                <i class="fa-regular fa-file" style="color: #93a1a1; size: 50%;"></i>
            </div>
            <div class="card-body overflow-auto">
                <div id="{{ output_id }}"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
