{% load static %}

{% block content %}

<div class="w-auto container">
    <div class="d-flex flex-wrap flex-md-nowrap align-content-around justify-content-between">
        <div class="w-100 card m-2" style="height: 40vh;">
            <div class="card-header d-flex justify-content-start">
                <div class="card-header-pills">
                    <i class="fa-solid fa-terminal"></i>
                </div>
                <div class="card-title my-0 ms-3">{{ title }}</div>
            </div>
            <div class="card-body overflow-auto">
                <py-repl output="{{ output_id }}">{{ code }}</py-repl>
            </div>
        </div>
        <div class="w-100 card m-2" style="height: 40vh;">
            <div class="card-header d-flex justify-content-start">
                <div class="card-header-pills">
                    <i class="fa-regular fa-file"></i>
                </div>
                <div class="card-title my-0 ms-3">Resultados</div>
            </div>
            <div class="card-body overflow-auto">
                <div id="{{ output_id }}"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
