{% extends 'decks.html' %}

{% load static %}

{% block content %}

<section>
    <h5>Proyecto de Docencia</h5>
    <h3>Estrategias docentes para sesiones virtuales interactivas con el desarrollo de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos de Señales y Sistemas</h3>
    <h4>Presentación de pruebas</h4>
    <p>2023</p>
</section>

<section>
    <h2>Visualizaciones estáticas y dinámicas</h2>
</section>

<section>
    <section>
        <!-- Construir apps de Py-Shinylive -->
        <!-- 'shinylive export app shinylive --subdir app' -->
        <!-- https://github.com/posit-dev/py-shinylive -->
        <h2>¿Qué es Py-Shinylive?</h2>
        <p>Py-Shinylive es un -lenguaje de programación que permite la ejecución de código Python en el navegador web-.</p>
    </section>
    <section>
        <!-- Inicializar servidor -->
        <!-- 'python3 -m http.server --directory shinylive --bind localhost 8008' -->
        <iframe src="http://localhost:8008/app1/" height="600" width="800"></iframe>
    </section>
    <section>
        <iframe src="http://localhost:8008/app2/" height="600" width="800"></iframe>
    </section>
    <section>
        <iframe src="http://localhost:8008/app3/" height="600" width="800"></iframe>
    </section>
    <section>
        <iframe src="http://localhost:8008/app4/" height="600" width="800"></iframe>
    </section>
</section>

{% endblock %}