{% extends 'platform.html' %}

{% load static %}

{% block page_title %} Cursos {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 mb-5 text-center bg-body-tertiary">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 fw-bold">Cursos</h1>
        <p class="lead">Aquí están los cursos disponibles en el sistema</p>
    </div>
</div>

<!-- Contenido -->
<div class="container-lg">

    Hola 

    <ul>
        {% for course in courses %}
        <li>{{ course.id }} - {{ course.name }} ({{ course.career }}): {{ course.description }}</li>
        {% endfor %}
    </ul>

</div>

{% endblock %}