<h1>¿Conectado?</h1>
<script>
    // Aquí un archivo para manejar las actualizaciones de la pantalla con WebSockets
    // https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_client_applications
    // Crear un WebSocket 
    const screenSocket = new WebSocket('ws://127.0.0.1:8000/ws/decks/{{ deck_id }}/');

    // Registrar la conexión abierta
    screenSocket.onopen = function (event) {
        console.log('presentaciones: Conexión abierta exitosamente.');
    };

    Reveal.on( 'slidechanged', event => {
        screenSocket.send(JSON.stringify({
            'slide': event.indexh,
            'fragment': event.indexv
        }));
        // event.previousSlide, event.currentSlide, event.indexh, event.indexv
    } );
</script>