{% extends 'platform.html' %}

{% load static %}

{% block page_title %} Inicio {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 mb-5 text-center bg-body-tertiary">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 fw-bold">¡Hola{% if request.user.first_name %} {{ request.user.first_name }}{% endif %}!</h1>
        <p class="lead">Aquí están las presentaciones de su curso IE0405 - Modelos Probabilísticos de Señales y Sistemas</p>
    </div>
</div>

<!-- Contenido -->
<div class="container-lg">

    <h2>Clases modelo</h2>

    <h4>Características espectrales de los procesos aleatorios</h4>
    <p>
        Cuando los procesos estocásticos describen señales (funciones unidimensionales en el tiempo), es posible analizarlos según sus características espectrales, es decir, relativas a la frecuencia. Esto es útil en aplicaciones de procesamiento de señales: sensores, audio, sistemas de control, comunicaciones, estabilidad de sistemas de potencia.
    </p>
    <p>
        <a href="{% url 'caracteristicas-espectrales' %}" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ir a la clase</a>
    </p>

</div>

{% endblock %}
