{% extends 'site.html' %}

{% load static %}

{% block page_title %} Inicio {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 mb-5 text-center bg-body-tertiary">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5"><span style="color: #00C0F3; font-weight: 800;">&lt;</span><span style="font-family: 'Source Code Pro', monospace; font-weight: 800; color: #005DA4;">kalouk</span><span style="color: #00C0F3; font-weight: 800;">&gt;</span></h1>
        <p class="lead">Una plataforma web de presentaciones para la enseñanza de probabilidad y estadística en ingeniería</p>
    </div>
</div>

<!-- Contenido -->
<div class="container-lg">

    <div class="row">
        <div class="col-md-8 mx-auto">
            Este sitio es desarrollado en el Proyecto de Docencia <strong>PD-IE-472-2022</strong> de la Escuela de Ingeniería Eléctrica e inscrito en la Vicerrectoría de Docencia de la Universidad de Costa Rica, denominado:

            <blockquote class="lead my-3 fst-italic">
                Estrategias docentes para sesiones virtuales interactivas con el desarrollo de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos de Señales y Sistemas
            </blockquote>

            <div class="card">
                <div class="card-body">
                    El proyecto desarrolla un sistema web de presentaciones para la enseñanza de probabilidad y estadística en ingeniería, con el objetivo de mejorar la experiencia de aprendizaje de los estudiantes del curso en la modalidad virtual, explotando la versatilidad del diseño web.
                </div>
            </div>

            <!-- Próxima clase modelo -->
            <div class="card border-success my-5">
                <div class="card-body">
                    <h5 class="card-title">Siguiente clase: lunes 10 de junio de 2024</h5>
                    Características espectrales de los procesos aleatorios
                    <br>
                    <a href="{% url 'caracteristicas-espectrales' %}" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ir a la presentación</a>
                    <!-- Card footer -->
                </div>
                <div class="card-footer">
                    <i class="bi bi-door-open-fill"></i> Ingreso no requiere registro
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <i class="bi bi-person-workspace lead"></i> <br>
                    Para ingresar a presentaciones de ejemplo con las posibilidades del sistema, puede visitar la sección <a href="{% url 'demo' %}">Demostraciones</a>.
                </div>
                <div class="col">
                    <i class="bi bi-info-square-fill lead"></i> <br>
                    Para conocer más sobre sus objetivos, metodología y resultados, puede visitar la sección <a href="{% url 'about' %}">Sobre el proyecto</a>.
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}