{% extends 'platform.html' %}

{% load static %}

{% block page_title %} Inicio {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 mb-5 text-center bg-body-tertiary">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 fw-bold">Sobre el proyecto</h1>
        <p class="lead">Una plataforma web de presentaciones para la enseñanza de probabilidad y estadística en ingeniería</p>
    </div>
</div>

<!-- Contenido -->
<div class="container-lg">

    <h1 class="text-center mx-auto my-5">
        <span class="small">PD-IE-472-2022</span> <br>
        Estrategias docentes para sesiones virtuales interactivas con el desarrollo de un nuevo sistema web: una experiencia en el curso Modelos Probabilísticos de Señales y Sistemas
    </h1>

    <br><hr>
    <h1><i class="bi bi-check-circle-fill"></i> Objetivos</h1>

    <h2>Objetivo general</h2>
    <p>
        Diseñar e implementar un sistema web de presentación de contenidos e interacción entre profesores y estudiantes para sesiones sincrónicas virtuales dedicado a la enseñanza y aprendizaje de conceptos de probabilidad y estadística para ingeniería eléctrica.
    </p>

    <h2>Objetivos específicos</h2>
    <ol>
        <li>Recopilar información sobre los requisitos del sistema y sus necesidades pedagógicas.</li>
        <li>Planificar las tecnologías a utilizar y la metodología de desarrollo de software.</li>
        <li>Diseñar la arquitectura de información y la apariencia del sitio.</li>
        <li>Desarrollar la programación.</li>
        <li>Crear contenido para sesiones sincrónicas virtuales con los contenidos del curso Modelos Probabilísticos de Señales y Sistemas.</li>
        <li>Evaluar la recepción pedagógica y el desempeño técnico del sistema.</li>
        <li>Socializar los resultados del proyecto.</li>
    </ol>

    <br><hr>
    <h1><i class="bi bi-github"></i> Repositorio del proyecto</h1>
    <p>
        El código fuente del sistema está disponible en el repositorio <a href="https://github.com/fabianabarca/presentaciones" target="_blank">fabianabarca/presentaciones</a> en GitHub.
    </p>
</div>

{% endblock %}
